{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'auto-group-19fc.png' %}" type="image/png">
    <meta charset="UTF-8">
    <title>Работодатели</title>
    <link rel="stylesheet" href="{% static 'employerlist.css' %}"> <!-- Подключение файла со стилями -->
</head>
<body>
<div class="users-JAi">
  <div class="frame-2-QDk">
    <div class="misislogoblockdeskfullinvrusrgb-01-1-gSA">
      <img class="auto-group-19fc-C9c" src="{% static 'auto-group-19fc.png' %}"/>
      <div class="auto-group-54na-hcA">
        <img class="vector-R2N" src="{% static 'vector-6bY.png' %}"/>
        <p class="item--wmQ">ПОИСК ВАКАНСИЙ</p>
      </div>
    </div>
    <div class="frame-12-c6r">
      <div class="item--Wi2"><a href="{% url 'home' %}">Главная</a></div>
      <p class="item--cFG">Работодатели</p>
      <div class="item--Jdt"><a href="{% url 'support' %}">Поддержка</a></div>
    </div>

    <div class="profile-un6">
      <div class="auto-group-5fmx-qve">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><p class="item--Axv">Выйти</p></a>
        <p class="item--A"> {{request.user.first_name}} {{request.user.last_name}}</p>
        {% if request.user.employer %}
        <div class="item--5ot"><a href="{% url 'employerprofile' %}">Работодатель</a></div>
          {% else %}
        <div class="item--5om"><a href="{% url 'studprofile' %}">Студент</a></div>
          {% endif %}
        {% else %}
        <a href="{% url 'login' %}"><p class="item--A">Войти</p></a>
        {% endif %}
      </div>
      <div class="ellipse-1-zBG">
      </div>
    </div>
  </div>
  <div class="auto-group-xyre-foC">
    <div class="auto-group-yycs-zKg">
      <p class="item--hUz">Список работодателей</p>
      <div class="auto-group-agce-o2E">
        <div class="search-L2A">
          <form action="">
          <input type="text" placeholder="Введите запрос...">
        </form>
        </div>
        <img class="filter-9EW" src="{% static 'filter.png' %}"/>
      </div>
    </div>
    <div class="group-9-ewx">
      <div class="frame-14-PuY">
        <div class="group-2-8ML">
          <div class="ellipse-2-f6N">
          </div>
          <div class="auto-group-3vvj-az2">
            <p class="item--iqL">Должность</p>
            <p class="item--EYn">ООО, г. Москва</p>
          </div>
        </div>
        <div class="group-3-Uxv">
          <div class="ellipse-2-1hx">
          </div>
          <div class="auto-group-hq1g-YSz">
            <p class="item--H9g">Должность</p>
            <p class="item--bgA">ООО, г. Москва</p>
          </div>
        </div>
        <div class="group-4-euL">
          <div class="ellipse-2-nVk">
          </div>
          <div class="auto-group-wjcr-ieJ">
            <p class="item--enr">Должность</p>
            <p class="item--AmC">ООО, г. Москва</p>
          </div>
        </div>
        <div class="group-5-Rx2">
          <div class="ellipse-2-Aei">
          </div>
          <div class="auto-group-rqa6-huY">
            <p class="item--eZt">Должность</p>
            <p class="item--aCe">ООО, г. Москва</p>
          </div>
        </div>
      </div>
      <div class="frame-15-yVg">
        <div class="group-2-HmG">
          <div class="ellipse-2-2Tx">
          </div>
          <div class="auto-group-jutx-N22">
            <p class="item--rxn">Должность</p>
            <p class="item--z3Q">ООО, г. Москва</p>
          </div>
        </div>
        <div class="group-3-RuQ">
          <div class="ellipse-2-YUE">
          </div>
          <div class="auto-group-7mca-SZc">
            <p class="item--m66">Фамилия И.</p>
            <p class="item--sup">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-4-LYW">
          <div class="ellipse-2-3hp">
          </div>
          <div class="auto-group-crdc-wYJ">
            <p class="item--eSi">Фамилия И.</p>
            <p class="item--ZJn">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-5-CMk">
          <div class="ellipse-2-KSN">
          </div>
          <div class="auto-group-wmrg-Smt">
            <p class="item--yG2">Фамилия И.</p>
            <p class="item--gw8">Студент, г. Москва</p>
          </div>
        </div>
      </div>
      <div class="frame-16-YCe">
        <div class="group-2-5Ca">
          <div class="ellipse-2-Pyx">
          </div>
          <div class="auto-group-7nra-XqG">
            <p class="item--Typ">Фамилия И.</p>
            <p class="item--P6n">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-3-qjU">
          <div class="ellipse-2-m7L">
          </div>
          <div class="auto-group-661u-69c">
            <p class="item--opi">Фамилия И.</p>
            <p class="item--VBk">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-4-gn2">
          <div class="ellipse-2-1JW">
          </div>
          <div class="auto-group-uyb4-wT4">
            <p class="item--TwC">Фамилия И.</p>
            <p class="item--b1p">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-5-eVt">
          <div class="ellipse-2-Zsk">
          </div>
          <div class="auto-group-1v3c-hj4">
            <p class="item--Rf4">Фамилия И.</p>
            <p class="item--Vup">Студент, г. Москва</p>
          </div>
        </div>
      </div>
      <div class="frame-17-xHc">
        <div class="group-2-VHY">
          <div class="ellipse-2-d8r">
          </div>
          <div class="auto-group-2wzj-xB8">
            <p class="item--5We">Фамилия И.</p>
            <p class="item--CrA">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-3-5QA">
          <div class="ellipse-2-1Hp">
          </div>
          <div class="auto-group-cotc-whG">
            <p class="item--UhC">Фамилия И.</p>
            <p class="item--oUa">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-4-5S6">
          <div class="ellipse-2-p8n">
          </div>
          <div class="auto-group-wv5y-k2S">
            <p class="item--BtS">Фамилия И.</p>
            <p class="item--WQv">Студент, г. Москва</p>
          </div>
        </div>
        <div class="group-5-ZPC">
          <div class="ellipse-2-tgN">
          </div>
          <div class="auto-group-umhx-q5p">
            <p class="item--kyU">Фамилия И.</p>
            <p class="item--tJz">Студент, г. Москва</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item--vmU">
    <div class="auto-group-dwqg-fDG">
      <div class="auto-group-fhs4-nYn">
        <div class="misislogoblockdeskfullinvrusrgb-01-1-XFU">
          <img class="vector-De6" src="{% static 'vector-Z34.png' %}"/>
          <img class="vector-MEW" src="{% static 'vector-b2n.png' %}"/>
          <img class="vector-Upv" src="{% static 'vector-yw4.png' %}"/>
          <img class="vector-REN" src="{% static 'vector-rFg.png' %}"/>
          <div class="group-10-ZbU">
            <img class="auto-group-ve3y-77C" src="{% static 'auto-group-ve3y.png' %}"/>
            <div class="auto-group-dagn-SfG">
              <img class="vector-ArA" src="{% static 'vector-VEv.png' %}"/>
              <p class="item--Wv2">ПОИСК ВАКАНСИЙ</p>
            </div>
          </div>
        </div>
        <div class="auto-group-5avr-cCN">
          <p class="item--YLv">Техническая поддержка сайта:</p>
          <p class="item--EUe">
            <a href="{% static 'Info_vkr.pdf' %}" target="_blank">Информация о разработке</a>
          </p>
        </div>
        <div class="auto-group-q8sa-7oL">
          <p class="item--rW2">Контакты для связи:</p>
          <p class="item-7-000-000-00-00-9k2">+ 7 499 649-44-80</p>
        </div>
        <div class="login-svv"><a href="{% url 'support' %}">Поддержка</a></div>
      </div>
      <div class="auto-group-4ebx-9tS">
        <p class="pochtamailru-5GJ">katyzinan@gmail.com</p>
        <p class="pochtamailru-oCJ">vopros@misis.ru</p>
      </div>
      <div class="auto-group-1m1g-LT8">
        <img class="vk-1-xUW" src="{% static 'vk-1-nPp.png' %}"/>
        <img class="ok-1-u8r" src="{% static 'ok-1.png' %}"/>
        <img class="telegram-1-3F4" src="{% static 'telegram-1-FNW.png' %}"/>
        <img class="youtube-1-PJv" src="{% static 'youtube-1-Wxn.png' %}"/>
      </div>
    </div>

    <div class="auto-group-hhxr-Mjk">
      <p class="item--Uza">
        <a href="https://misis.ru/university/sved/" target="_blank">Сведения об образовательной организации</a>
      </p>
      <p class="item--6m4">
        <a href="https://lk.misis.ru/268_04_19.pdf" target="_blank">Положение об обработке и защите персональных данных</a>
      </p>
      <p class="item-2024--ULN">@2024 Университет науки и технологий МИСИС</p>
      <div class="rectangle-9-ivr">

      </div>
    </div>
  </div>
</div>
</body>
</html>