{% load filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'auto-group-19fc.png' %}" type="image/png">
    <meta charset="UTF-8">
    <title>Личный кабинет работодателя</title>
    <link rel="stylesheet" href="{% static 'gl.css' %}">
    <link rel="stylesheet" href="{% static 'hh.css' %}">

</head>
<body>
<form action="{% url 'employer_update' user.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-stud">
        <div class="condition-checker">
            <header class="output-splitter">
                <div class="output-splitter-child"></div>
                <img class="value-processor-icon" alt="" src="{% static 'loop-node.png' %}"/>
                <div class="vector-parent">
                    <img class="vector-icon" alt="" src="{% static 'vector-1.png' %}"/>
                    <img class="vector-icon1" alt="" src="{% static 'loop-node.png' %}"/>
                    <img class="vector-icon2" alt="" src="{% static 'vector-1.png' %}"/>
                </div>
                <div class="frame-parent">
                    <div class="frame-group">
                        <div class="vector-group">
                            <img class="vector-icon3" alt="" src="{% static 'vector-4.png' %}"/>
                            <img class="vector-icon4" alt="" src="{% static 'vector-4.png' %}"/>
                        </div>
                        <div class="frame-wrapper">
                            <div class="vector-container">
                                <img class="vector-icon5" alt="" src="{% static 'vector-6.png' %}"/>
                                <img class="vector-icon6" alt="" src="{% static 'vector-6.png' %}"/>
                            </div>
                        </div>
                    </div>
                    <div class="frame-container">
                        <div class="frame-div">
                            <img class="vector-icon7" alt="" src="{% static 'vector-8.png' %}"/>

                            <div class="div">ПОИСК ВАКАНСИЙ</div>
                        </div>
                    </div>
                </div>
                <nav class="output-splitter-inner">
                    <nav class="parent">
                        <div class="div1"><a href="{% url 'home' %}">Главная</a></div>
                        <div class="div2"><a href="{% url 'employerlist' %}">Работодатели</a></div>
                        <div class="div3"><a href="{% url 'support' %}">Поддержка</a></div>
                    </nav>
                </nav>
                <div class="output-splitter-inner1">
                    <div class="frame-parent1">
                        <div class="frame-wrapper1">
                            <div class="group">
                                {% if request.user.is_authenticated %}
                                <p class="item--A"> {{request.user.first_name}} {{request.user.last_name}}</p>
                                {% if request.user.employer %}
                                <div class="div4"><a href="{% url 'employerprofile' request.user.id %}">Работодатель</a></div>
                                {% else %}
                                <div class="div4"><a href="{% url 'studprofile' request.user.id %}">Студент</a></div>
                                {% endif %}
                                {% else %}
                                <a href="{% url 'login' %}"><p class="item--A">Войти</p></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="frame-child">
                        {% if request.user.image %}
                        <img src="{{request.user.image.url}}" class="image_vacation" alt="">
                        {% endif %}
                    </div>
                </div>

            </header>
        </div>
        <img class="profile-stud-child" loading="lazy" alt="" src="{% static 'line-7.png' %}"/>
    </div>
    <main class="profile-stud-inner">
        <section class="frame-section">
            <div class="frame-parent2">
                <div class="frame-wrapper2">
                    <div class="frame-parent3">
                        <div class="frame-parent4">
                            <div class="ellipse-wrapper">
                                {% if user.image %}
                                <img class="frame-inner" src="{{ user.image.url }}"/>
                                {% else %}
                                <img class="frame-inner" alt="" src="{% static 'ellipse-2@2x.png' %}"/>
                                {% endif %}
                            </div>
                            <div class="load-pic-wrapper">
                                {% if request.user == user %}
                                <button class="load-pic" type="button">
                                    <div class="load-pic-child"></div>
                                    <input type="file" style="display:none;" name="image" id="imageInput">
                                    <div onclick="document.getElementById('imageInput').click();" class="div19">Загрузить фото</div>
                                </button>
                                {% endif %}
                            </div>
                            <div class="container">
                                <h2 class="h2">Организация:</h2>
                                <div class="wrapper">
                                    <h2 class="h21">Должность:</h2>
                                </div>
                            </div>
                        </div>
                        <div class="frame-parent5">
                            <div class="frame-wrapper3">
                                <div class="parent1">
                                    <h1 class="h1">{{ user.last_name}} {{ user.first_name}} {{ user.middle_name}}</h1>
                                    <div class="frame-wrapper4">
                                        <div class="frame-parent6">
                                            <div class="data-processor-wrapper">
                                                <div class="data-processor">
                                                    <h1 class="h11">Работодатель</h1>
                                                    <h1 class="pochtamailru2">{{ user.email}}</h1>
                                                </div>
                                            </div>
                                            <div class="output-aggregator">
                                                <h1 class="h12">г. {{ user.city.name}}</h1>
                                                <div class="error-handler">{{ user.phone_number}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="log-manager">
                                <h2 class="h22">{{ user.employer.organization }}</h2>
                                <div class="data-comparator">
                                    <h2 class="hr">HR</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user == user %}
                <button class="load-pic1" type="submit">
                    <div class="load-pic-item"></div>
                    <div class="div20">Сохранить</div>
                </button>
                {% endif %}
            </div>
            <h2 class="h23">Проекты:</h2>
            <div class="frame-parent7">
                <div class="frame-parent8">
                    {% for vacation in vacations %}
                    <div class="rectangle-group">
                        <div class="rectangle-div"></div>
                        <div class="rectangle-container">
                            <div class="frame-child1"></div>
                            <div class="frame-wrapper5">
                                <div class="ellipse-parent">
                                    <div class="ellipse-div"><img style="height:4rem;width:4rem;border-radius:50px;" src="{{ vacation.image.url }}" alt=""></div>
                                    <div class="frame-wrapper6">
                                        <div class="parent2">
                                            <b class="b">{{ vacation.employer.employer.organization}}</b>
                                            <div class="div21">г. {{vacation.city.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if request.user == user %}
                            <a href="{% url 'delete_vacation' vacation.id %}"><img class="image-2-icon" loading="lazy" alt="" src="{% static 'image-2@2x.png' %}"/></a>
                            {% endif %}
                        </div>
                        <div class="frame-wrapper7">
                            <div class="parent3">
                                <div class="div22">{{vacation.position}}</div>
                                <div class="lrem-ipsum-dopyprade-container">
                                    <p class="lrem-ipsum-dopyprade">
                                        {{vacation.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="frame-wrapper8">
                            <div class="parent4">
                                <button class="button">
                                    <div class="div23"><a href="{% url 'aboutvacancy' vacation.id %}">Подробнее</a></div>
                                </button>
                                <div class="div24">
                                    <div class="div25">
                                        {% if request.user == user %}
                                        <a href="{% url 'update_vacation' vacation.id %}">
                                            <div class="exclude-icon">Редактировать</div>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if request.user == user %}
                <div class="frame-wrapper17">
                    <div class="frame-parent9">
                        <div class="load-pic-container">
                            <button class="load-pic2">
                                <div class="div42"><a href="{% url 'createvacancy' %}">Создать проект</a></div>
                            </button>
                        </div>
                        <div class="frame">
                            {% if reply_list %}
                            <h2 class="h24">Отклики:</h2>
                            <div class="frame-parent10">
                                {% for reply in reply_list %}
                                <div class="rectangle-parent4">
                                <div class="frame-child8"></div>
                                <div class="frame-parent11">
                                    <div class="frame-parent12">
                                        <div class="rectangle-parent5">
                                            <div class="frame-child9"></div>
                                            <div class="frame-wrapper18">
                                                <div class="ellipse-parent1">
                                                    {% if reply.student.image %}
                                                    <div class="frame-child10"><img src="{{reply.student.image.url}}" alt="" style="height:80px;width:80px;border-radius:100px;"></div>
                                                    {%else%}
                                                    <div class="frame-child10"></div>
                                                    {%endif%}
                                                    <div class="frame-wrapper19">
                                                        <div class="telegram-parent">
                                                            <div class="telegram">Telegram:</div>
                                                            <a href="{% url 'studprofile' reply.student.id %}"><b class="katyzina">@{{reply.student.student.telegram}}</b></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{% url 'delete_replyes' reply.id %}"><img class="image-5-icon" loading="lazy" alt="" src="{% static 'image-2@2x.png' %}"/></a>
                                        </div>
                                        <div class="sequence-manager">
                                            <div class="div43">{{reply.vacation.institute.full_name}}</div>
                                        </div>
                                    </div>
                                    <div class="container1">
                                        <div class="div44">
                                            <p class="p2">
                                                Направление: {{reply.student.student.faculty}}
                                            </p>
                                            <p class="blank-line">&nbsp;</p>
                                            <p class="p3">Группа: {{reply.student.student.study_group}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="comparator">
                                    <a href="{% url 'studprofile' reply.student.id %}">
                                        <button class="button3" type="button">
                                            <div class="div45">Подробнее</div>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </section>
    </main>
     {% if request.user == user %}
    <div class="input-processor">
        <a href="{% url 'logout' %}"><p class="div52">Выйти ></p></a>
    </div>
    {% else %}
    <div class="input-processor">
        <a href="{% url 'employerlist' %}"><p class="div52">Назад ></p></a>
    </div>
    {% endif %}
    <div class="div53">
        <div class="decision-maker">
            <div class="connector">
                <div class="div54">ПОИСК ВАКАНСИЙ</div>
            </div>
            <div class="logic-operator-parent">
                <div class="logic-operator">
                    <div class="signal-processor">
                        <div class="div55">Техническая поддержка сайта:</div>
                        <div class="property-handler">
                            <div class="div56">Информация о разработке</div>
                            <div class="pochtamailru3">pochta@mail.ru</div>
                        </div>
                    </div>
                </div>
                <div class="logic-operator1">
                    <div class="parent11">
                        <div class="div57">Контакты для связи:</div>
                        <div class="parent12">
                            <div class="div58">+ 7 000 000-00-00</div>
                            <div class="pochtamailru4">pochta@mail.ru</div>
                        </div>
                    </div>
                </div>
                <div class="array-processor-wrapper">
                    <div class="array-processor">
                        <div class="div59">Адрес:</div>
                        <div class="function-library">
                            <div class="div60">ул. Крымский Вал, 3, Москва</div>
                            <div class="div61">
                                <p class="p8">пн-пт: 9.00 - 20.00</p>
                                <p class="p9">сб-вс: 10.00 - 18.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="login1">
                    <div class="login-item"></div>
                    <div class="div62"><a href="{% url 'support' %}">Поддержка</a></div>
                </button>
            </div>
        </div>
        <div class="inner1">
            <div class="frame-parent17">
                <div class="frame-parent18">
                    <div class="wrapper7">
                        <p class="div63">
                            <a href="https://misis.ru/university/sved/" target="_blank">Сведения об образовательной организации</a>
                        </p>
                    </div>
                    <p class="div64">
                        <a href="https://lk.misis.ru/268_04_19.pdf" target="_blank">Положение об обработке и защите персональных данных</a>
                    </p>
                </div>
                <div class="wrapper8">
                    <div class="div65">
                        @2024 Университет науки и технологий МИСИС
                    </div>
                </div>
            </div>
        </div>
        <div class="rectangle-parent10">
            <div class="frame-child17"></div>
            <img class="vector-icon17" alt="" src="{% static 'loop-node.png' %}"/>

            <div class="vector-parent4">
                <img class="vector-icon18" alt="" src="{% static 'vector-4.png' %}"/>
                <img class="vector-icon19" alt="" src="{% static 'vector-10.png' %}"/>
            </div>
            <div class="vector-parent5">
                <img class="vector-icon20" alt="" src="{% static 'vector-6.png' %}"/>
                <img class="vector-icon21" alt="" src="{% static 'vector-13.png' %}"/>
            </div>
            <div class="data-aggregator">
                <img class="branching-logic-icon" alt="" src="{% static 'vector-1.png' %}"/>

                <img class="input-processor-icon" alt="" src="{% static 'vector-15.png' %}"/>

                <img class="branching-logic-icon1" alt="" src="{% static 'vector-16.png' %}"/>
            </div>
            <img class="output-generator-icon" alt="" src="{% static 'vector-17.png' %}"/>

            <div class="vk-1-group">
                <img class="vk-1-icon1" alt="" src="{% static 'vkcom.png' %}"/>
            </div>
            <img class="ok-1-icon1" alt="" src="{% static 'ok-1.png' %}"/>
            <img class="telegram-1-icon1" alt="" src="{% static 'telegramcom.png' %}"/>

            <img class="youtube-1-icon1" alt="" src="{% static 'youtubecom.png' %}"/>
        </div>
    </div>
    </div>
</form>
</body>
</html>
