{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация работодателя</title>
    <link rel="stylesheet" href="{% static 'reg-hr.css' %}"> <!-- Подключение файла со стилями -->
</head>
<body>
<div class="reg-hr-Xb4">
    <div class="rectangle-9-eQn">
    </div>
    <div class="rectangle-11-854">
    </div>
    <img class="misislogoblockdeskfullinvrusrgb-01-2-2RL" src="{% static 'misislogoblockdeskfullinvrusrgb-01-2-PYA.png' %}"/>
    <div class="group-8-K9Y">
        <p class="item--Kok">Регистрация</p>
        <div class="chose-B5G">
            <a href="{% url 'regstud' %}"><p class="item--He6">Студент</p></a>
            <div class="auto-group-zuaw-o6e">
                <div class="line-1-jkz">
                </div>
                <p class="item--rqc">Работодатель</p>
            </div>
        </div>
        <div class="frame-13-9Zp">
            <form action="{% url 'hrlog' %}" method="post">
                {% csrf_token %}
                <div class="name-qhY">
                    <p class="item--NBg">Имя</p>
                    <div class="auto-group-xku8-GH4">
                        <input type="text" placeholder="Введите..." name="first_name">
                    </div>
                    <div class="surname-jgS">
                        <p class="item--SzA">Фамилия</p>
                        <div class="auto-group-merc-97t">
                            <input type="text" placeholder="Введите..." name="last_name">
                        </div>
                        <div class="third-name-oy8">
                            <p class="item--ZBc">Отчество</p>
                            <div class="auto-group-1yyg-Tnn">
                                <input type="text" placeholder="Введите..." name="middle_name">
                            </div>
                        </div>
                        <div class="email-jVQ">
                            <p class="email-qoL">Email</p>
                            <div class="auto-group-gkxk-LEJ">
                                <input type="email" placeholder="Введите..." name="email">
                            </div>
                        </div>
                        <div class="number-1bL">
                            <p class="item--9Se">Номер телефона</p>
                            <div class="auto-group-xeuc-2WS">
                                <input type="text" placeholder="Введите..." name="phone_number">
                            </div>
                        </div>
                        <div class="institut-6mC">
                            <p class="item--EsQ">Название организации</p>
                            <div class="auto-group-nysc-UFx">
                                <input type="text" placeholder="Введите..." name="organization">
                            </div>
                        </div>
                        <div class="pass-jSn">
                            <p class="item--GxW">Пароль</p>
                            <div class="auto-group-fkga-nfx">
                                <input type="password" placeholder="Введите..." name="password">
                            </div>
                        </div>
                        <div class="accept-4Na">
                            <p class="item--QhL">Подтверждение</p>
                            <div class="auto-group-hdwe-JXp">
                                <input type="password" placeholder="Введите..." name="confirm_password">
                            </div>
                        </div>
                    </div>
                    <button type="submit"><div class="login-XQa">Зарегистрироваться</div></button>
                    <div class="reg-NAJ">Назад</div>
                </div>
            </form>
        </div>
</body>
