{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'auto-group-19fc.png' %}" type="image/png">
    <meta charset="UTF-8">
    <title>Регистрация студента</title>
    <link rel="stylesheet" href="{% static 'studprofile.css' %}"> <!-- Подключение файла со стилями -->
</head>
<div class="profile-stud-h26">
  <div class="frame-2-K3U">
    <div class="misislogoblockdeskfullinvrusrgb-01-1-jmQ">
      <img class="auto-group-eyht-42z" src="{% static 'auto-group-eyht.png' %}"/>
      <div class="auto-group-itpr-Ari">
        <img class="vector-HAe" src="{% static 'vector-qv6.png' %}"/>
        <p class="item--CYW">ПОИСК ВАКАНСИЙ</p>
      </div>
    </div>
    <div class="frame-12-RRG">
      <div class="item--vcv"><a href="{% url 'home' %}">Главная</a></div>
      <div class="item--2fx"><a href="{% url 'employerlist' %}">Работодатели</a></div>
      <div class="item--8yt"><a href="{% url 'support' %}">Поддержка</a></div>
    </div>
    <div class="profile-GCv">
      <div class="auto-group-jvis-y7L">
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><p class="item--5o">Выйти</p></a>
        <p class="item--6Sr"> {{request.user.first_name}} {{request.user.last_name}}</p>
        {% if request.user.employer %}
          <p class="item--6Sr">Работодатель</p>
          {% else %}
          <div class="item--zYE"><a href="{% url 'studprofile' %}">Студент</a></div>
          {% endif %}
        {% else %}
        <a href="{% url 'login' %}"><p class="item--5ot">Войти</p></a>
        {% endif %}
      </div>
      <div class="ellipse-1-t7p">
      </div>
    </div>
  </div>
  <div class="auto-group-75wu-kQv">
    <div class="auto-group-yvta-U62">
      <img class="ellipse-2-y2n" src="{% static 'ellipse-2.png' %}"/>
      <div class="auto-group-z6sx-sdx">
        <p class="item--zTg">Фамилия Имя Отчество</p>
        <div class="auto-group-afug-HSn">
          <div class="auto-group-u2wi-cEA">
            <p class="item--JFQ">Студент</p>
            <p class="pochtamailru-aii">pochta@mail.ru</p>
          </div>
          <div class="auto-group-d95y-iK8">
            <p class="item--fEN">г. Москва</p>
            <p class="item-7777777-77-77-aML">+7(777)777-77-77</p>
          </div>
        </div>
      </div>
      <div class="load-pic-tcv">Редактировать</div>
    </div>
    <div class="load-pic-wbC">Загрузить фото</div>
    <div class="short-info-nLv">
      <div class="auto-group-tssa-uwL">
        <div class="auto-group-yuml-TT4">
          <p class="item--xuc">Университет:</p>
          <p class="item--fp2">НИТУ МИСИС</p>
        </div>
        <div class="auto-group-acis-ndk">
          <p class="item--jYz">Институт:</p>
          <p class="item--fBk">Институт компьютерных наук</p>
        </div>
      </div>
      <div class="auto-group-2xxq-kDC">
        <p class="item--u66">Направление:</p>
        <p class="item--cWJ">Информационные системы и технологии</p>
      </div>
      <div class="auto-group-fhjt-5ug">
        <p class="item--RTk">Учебная группа:</p>
        <p class="item-20-2-jUS">БИСТ-20-2</p>
      </div>
    </div>
    <div class="auto-group-ajwa-rox">
      <div class="auto-group-rnw8-Ape">
        <p class="item--W7p">Резюме:</p>
        <p class="resumepdf-cge">Resume.pdf</p>
      </div>
      <div class="load-pic-jWN">Загрузить</div>
    </div>
    <div class="auto-group-amcr-pXp">
      <p class="item--idC">Телеграм:</p>
      <p class="telegram-ELe">@telegram</p>
    </div>
    <div class="auto-group-2fy8-xnS">
      <p class="item--seW">Навыки:</p>
      <div class="frame-32-nFg">Python</div>
      <div class="frame-33-eYn">Работа с локальными сетями</div>
      <div class="frame-39-ioY">Настройка ПК</div>
      <div class="frame-41-zWA">С++</div>
      <div class="frame-36-5nW">#2k17</div>
    </div>
    <p class="item--Zxa">Избранные вакансии:</p>
    <div class="auto-group-ltun-SFg">
      <p class="item--m34">Сопроводительное письмо:</p>
      <p class="letterpdf-Sez">Letter.pdf</p>
      <div class="load-pic-AL6">Загрузить</div>
    </div>
    <div class="auto-group-gu5c-pvS">
      <div class="frame-35-xWr">Информационная безопасность</div>
      <div class="frame-38-Swp">#ВыборыПрезидентаРоссии2024</div>
      <div class="frame-37-jvv">#Путин</div>
    </div>
    <div class="auto-group-r9h8-pSa">
      <div class="group-5-k5L">
        <div class="auto-group-qbje-4ri">
          <div class="ellipse-2-NcW">
          </div>
          <div class="auto-group-3lwi-JFG">
            <p class="vkontake-1Qa">Vkontake</p>
            <p class="item--LSr">г. Москва</p>
          </div>
        </div>
        <p class="item--RDQ">Системный администратор</p>
        <p class="lrem-ipsum-dopyprade-hck-heterokrati-psykomani-kysa-duck-de-ogen-en-gnera-magigt-misade-primasofi-dina-gsam-tes-ikar-finade-hnar-n-geojukrorar-myns-i-kross-ifall-kase-senade-nise-vide-onar-medellogi-nyskade-laligen-onyda-dolyfod-monofongar-begt-rade-i-epimikal-och-zombiebrand-VUA">
        Lörem ipsum dopypörade häck. Heterokrati psykomani kysa duck, de ogen en gönera. Magigt misade, primasofi, dina.
        <br/>
        Gösam tes ikar. Finade hänar än geojukrorar myns, i krosås ifall kase. Senade nise vide onar.
        <br/>
        Medellogi nyskade laligen. Onyda dolyfod. Monofongar begt ärade i epimikal och zombiebrand.
        <br/>

        </p>
        <div class="auto-group-ctbl-Sni">
          <div class="item--ZMY">Подробнее</div>
          <img class="item--Bti" src="{% static '.png' %}"/>
        </div>
      </div>
      <div class="group-6-U78">
        <div class="auto-group-m2nr-o9Q">
          <div class="ellipse-2-iGN">
          </div>
          <div class="auto-group-iazu-SiA">
            <p class="odnoklassniki-mkS">Odnoklassniki</p>
            <p class="item--JVU">г. Москва</p>
          </div>
        </div>
        <p class="item--nfY">Системный администратор</p>
        <p class="lrem-ipsum-dopyprade-hck-heterokrati-psykomani-kysa-duck-de-ogen-en-gnera-magigt-misade-primasofi-dina-gsam-tes-ikar-finade-hnar-n-geojukrorar-myns-i-kross-ifall-kase-senade-nise-vide-onar-medellogi-nyskade-laligen-onyda-dolyfod-monofongar-begt-rade-i-epimikal-och-zombiebrand-Tmg">
        Lörem ipsum dopypörade häck. Heterokrati psykomani kysa duck, de ogen en gönera. Magigt misade, primasofi, dina.
        <br/>
        Gösam tes ikar. Finade hänar än geojukrorar myns, i krosås ifall kase. Senade nise vide onar.
        <br/>
        Medellogi nyskade laligen. Onyda dolyfod. Monofongar begt ärade i epimikal och zombiebrand.
        <br/>

        </p>
        <div class="auto-group-8taa-pke">
          <div class="item--kPQ">Подробнее</div>
          <img class="item--BzW" src="{% static '-Kan.png' %}"/>
        </div>
      </div>
      <div class="group-7-VkJ">
        <div class="auto-group-qfz8-d5p">
          <div class="ellipse-2-isx">
          </div>
          <div class="auto-group-ubcz-3vE">
            <p class="item--Nhc">Альфа Банк</p>
            <p class="item--YVc">г. Москва</p>
          </div>
        </div>
        <p class="item--RZQ">Системный администратор</p>
        <p class="lrem-ipsum-dopyprade-hck-heterokrati-psykomani-kysa-duck-de-ogen-en-gnera-magigt-misade-primasofi-dina-gsam-tes-ikar-finade-hnar-n-geojukrorar-myns-i-kross-ifall-kase-senade-nise-vide-onar-medellogi-nyskade-laligen-onyda-dolyfod-monofongar-begt-rade-i-epimikal-och-zombiebrand-tSz">
        Lörem ipsum dopypörade häck. Heterokrati psykomani kysa duck, de ogen en gönera. Magigt misade, primasofi, dina.
        <br/>
        Gösam tes ikar. Finade hänar än geojukrorar myns, i krosås ifall kase. Senade nise vide onar.
        <br/>
        Medellogi nyskade laligen. Onyda dolyfod. Monofongar begt ärade i epimikal och zombiebrand.
        <br/>

        </p>
        <div class="auto-group-wvqn-fMG">
          <div class="item--ngn">Подробнее</div>
          <img class="item--pdU" src="{% static '-3FU.png' %}"/>
        </div>
      </div>
      <img class="line-7-JHk" src="{% static 'line-7.png' %}"/>
    </div>
    <p class="item--qHg">Выйти &gt;</p>
  </div>
  <div class="item--KCr">
    <p class="item-2024--odp">@2024 Университет науки и технологий МИСИС</p>
    <div class="login-p38"><a href="{% url 'support' %}">Поддержка</a></div>
    <div class="misislogoblockdeskfullinvrusrgb-01-1-SaJ">
      <img class="vector-YdL" src="{% static 'vector-vMc.png' %}"/>
      <img class="vector-5dG" src="{% static 'vector-jGi.png' %}"/>
      <img class="vector-QfY" src="{% static 'vector-J9L.png' %}"/>
      <img class="vector-Ymk" src="{% static 'vector-duQ.png' %}"/>
      <div class="group-10-HUS">
        <img class="auto-group-nhwc-Dcz" src="{% static 'auto-group-nhwc.png' %}"/>
        <div class="auto-group-mszc-MUJ">
          <img class="vector-yVg" src="{% static 'vector-q9Q.png' %}"/>
          <p class="item--uu8">ПОИСК ВАКАНСИЙ</p>
        </div>
      </div>
    </div>
    <p class="item--R8i">Контакты для связи:</p>
    <p class="item--V8a">Адрес:</p>
    <p class="item-7-000-000-00-00-bBc">+ 7 499 649-44-80</p>
    <p class="item-3--JLv">ул. Крымский Вал, 3, Москва</p>
    <p class="item-900-2000-1000-1800-aJS">
    пн-пт: 9.00 - 20.00
    <br/>
    сб-вс: 10.00 - 18.00
    </p>
    <p class="pochtamailru-4Dc">vopros@misis.ru</p>
    <p class="pochtamailru-YuU">katyzinan@gmail.com</p>
     <p class="item--4N2">
            <a href="{% static 'Info_vkr.pdf' %}" target="_blank">Информация о разработке</a>
     </p>
    <p class="item--RLz">Техническая поддержка сайта:</p>
    <img class="vk-1-hJW" src="{% static 'vk-1.png' %}"/>
    <img class="vk-2-q9p" src="{% static 'vk-2.png' %}"/>
    <img class="ok-1-Aht" src="{% static 'ok-1.png' %}"/>
    <img class="telegram-1-K4z" src="{% static 'telegram-1-Akn.png' %}"/>
    <img class="youtube-1-FUS" src="{% static 'youtube-1-Nzi.png' %}"/>
    <div class="rectangle-9-amc">
      <p class="item--CNS">
        <a href="https://misis.ru/university/sved/" target="_blank">Сведения об образовательной организации</a>
      </p>
      <p class="item--2cN">
        <a href="https://lk.misis.ru/268_04_19.pdf" target="_blank">Положение об обработке и защите персональных данных</a>
      </p>

    </div>
  </div>
</div>
</body>
</html>