{% load filter %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'auto-group-19fc.png' %}" type="image/png">
    <meta charset="UTF-8">
    <title>Личный кабинет студента</title>
    <link rel="stylesheet" href="{% static 'main-hr.css' %}">
    <link rel="stylesheet" href="{% static 'support.css' %}">
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'profile-stud.css' %}"> <!-- Подключение файла со стилями -->
</head>
<body>
<form action="{% url 'update_profile' user.id %}" class="reset_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile-stud-h26">
        <div class="frame-2-K3U">
            <div class="misislogoblockdeskfullinvrusrgb-01-1-jmQ">
                <img class="auto-group-eyht-42z" src="{% static 'auto-group-eyht.png' %}"/>
                <div class="auto-group-itpr-Ari">
                    <img class="vector-HAe" src="{% static 'vector-qv6.png' %}"/>
                    <p class="item--CYW">ПОИСК ВАКАНСИЙ</p>
                </div>
            </div>
            <div class="frame-12-RRG">
                <div class="item--vcv"><a href="{% url 'home' %}">Главная</a></div>
                <div class="item--2fx"><a href="{% url 'employerlist' %}">Работодатели</a></div>
                <div class="item--8yt"><a href="{% url 'support' %}">Поддержка</a></div>
            </div>
            <div class="profile-GCv">
                <div class="auto-group-jvis-y7L">
                    {% if request.user.is_authenticated %}
                    <p class="item--6Sr"> {{ user.first_name}} {{ user.last_name}}</p>
                    {% if request.user.employer %}
                    <p class="item--6Sr">Работодатель</p>
                    {% else %}
                    <div class="item--zYE"><a href="{% url 'studprofile' request.user.id %}">Студент</a></div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}"><p class="item--5ot">Войти</p></a>
                    {% endif %}
                </div>

                    {% if request.user.image %}
                    <img src="{{request.user.image.url}}" class="image_vacation1" style=" width: 5rem; border-radius: 2.5006rem;  flex-shrink: 0; height: 5rem; " alt="" >
                    {% endif %}

            </div>
        </div>
        <div class="auto-group-75wu-kQv">
            <div class="auto-group-yvta-U62">
                {% if user.image %}
                <img class="ellipse-2-y2n" src="{{ user.image.url}}"/>
                {% else %}
                <img class="ellipse-2-y2n" src="{% static 'ellipse-2.png' %}"/>
                {% endif %}
                <div class="auto-group-z6sx-sdx">
                    <p class="item--zTg">{{ user.last_name}} {{ user.first_name}} {{ user.middle_name}}</p>
                    <div class="auto-group-afug-HSn">
                        <div class="auto-group-u2wi-cEA">
                            <p class="item--JFQ">Студент</p>
                            <p class="pochtamailru-aii">{{ user.email}}</p>
                        </div>
                        <div class="auto-group-d95y-iK8">
                            <p class="item--fEN">г. {{ user.student.town}}</p>
                            <p class="item-7777777-77-77-aML">{{ user.phone_number}}</p>
                        </div>
                    </div>
                </div>
                <button type="submit" style="background:none;border:none;">
                    <div class="load-pic-tcv">Сохранить</div>
                </button>
            </div>
            <input type="file" class="load-pic-jWN" name="image" style="display:none;" id="imageInput">
            <div onclick="document.getElementById('imageInput').click();" class="load-pic-wbC">Загрузить фото</div>
            <div class="short-info-nLv">
                <div class="auto-group-tssa-uwL">
                    <div class="auto-group-yuml-TT4">
                        <p class="item--xuc">Университет:</p>
                        <p class="item--fp2">{{ user.phone_number}}</p>
                    </div>
                    <div class="auto-group-acis-ndk">
                        <p class="item--jYz">Институт:</p>
                        <p class="item--fBk">{{ user.student.institute.full_name}} ({{ user.student.institute.name}})</p>
                    </div>
                </div>
                <div class="auto-group-2xxq-kDC">
                    <p class="item--u66">Направление:</p>
                    <p class="item--cWJ">{{ user.student.faculty}}</p>
                </div>
                <div class="auto-group-fhjt-5ug">
                    <p class="item--RTk">Учебная группа:</p>
                    <p class="item-20-2-jUS">{{ user.student.study_group}}</p>
                </div>
            </div>
            <div class="auto-group-ajwa-rox">
                <div class="auto-group-rnw8-Ape">
                    <p class="item--W7p">Резюме:</p>

                </div>
                <input type="file" class="load-pic-jWN" name="resume" style="display:none;" id="resumeInput">
                <div onclick="document.getElementById('resumeInput').click();" class="load-pic-jWN">Загрузить</div>
            </div>
            <div class="auto-group-ltun-SFg">
                <p class="item--m34">Сопроводительное письмо:</p>

                <input type="file" class="load-pic-jWN" name="letter" style="display:none;" id="letterInput">
                <div onclick="document.getElementById('letterInput').click();" class="load-pic-AL6">Загрузить</div>
            </div>
            <div class="auto-group-amcr-pXp">
                <p class="item--idC">Телеграм:</p>
                <input class="telegram-ELe" type="text" value="@{{ user.student.telegram}}" name="telegram">
                <!--      <p class="telegram-ELe">@{{ .user.student.telegram}}</p>-->
            </div>
            <p class="item--Zxa">Избранные вакансии:</p>


            <div class="auto-group-r9h8-pSa">
                {% for vacation in vacations %}
                <div class="group-7-VkJ">
                    <div class="auto-group-qfz8-d5p">
                        <div class="ellipse-2-J9U">
                            <img src="{{ vacation.image.url }}" class="image_vacation" alt="">
                        </div>
                        <div class="auto-group-ubcz-3vE">
                            <p class="item--Nhc">{{ vacation.employer.employer.organization }}</p>
                            <p class="item--YVc">{{ vacation.city.name }}</p>
                        </div>
                    </div>
                    <p class="item--RZQ">{{ vacation.position }}</p>
                    <p class="lrem-ipsum-dopyprade-hck-heterokrati-psykomani-kysa-duck-de-ogen-en-gnera-magigt-misade-primasofi-dina-gsam-tes-ikar-finade-hnar-n-geojukrorar-myns-i-kross-ifall-kase-senade-nise-vide-onar-medellogi-nyskade-laligen-onyda-dolyfod-monofongar-begt-rade-i-epimikal-och-zombiebrand-tSz">
                        {{ vacation.description | first_letters }}
                    </p>
                    <div class="auto-group-wvqn-fMG">
                        <a href="{% url 'aboutvacancy' vacation.id %}">
                            <div class="item--ngn">Подробнее</div>
                        </a>
                        <a href="{% url 'favourite_delete' vacation.id %}">
                            <a href="{% url 'favourite_delete' vacation.id %}"><img class="auto-group-z4g6-AWz" src="{% static 'like.png' %}"/></a>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="{% url 'logout' %}"><p class="item--qHg">Выйти &gt;</p></a>
            <div class="support-zEA">
                <div class="item--Vft">
                    <p class="item-2024--CKQ">@2024 Университет науки и технологий МИСИС</p>
                    <div class="login-AQe"><a href="{% url 'support' %}">Поддержка</a></div>
                    <div class="misislogoblockdeskfullinvrusrgb-01-1-RLa">
                        <img class="vector-Kgr" src="{% static 'vector-Yuc.png' %}"/>
                        <img class="vector-fki" src="{% static 'vector-GL6.png' %}"/>
                        <img class="vector-orv" src="{% static 'vector-DZ8.png' %}"/>
                        <img class="vector-xE2" src="{% static 'vector-bKC.png' %}"/>
                        <div class="group-10-tdU">
                            <img class="auto-group-h78i-R7c" src="{% static 'auto-group-h78i.png' %}"/>
                            <div class="auto-group-eeul-7FL">
                                <img class="vector-cht" src="{% static 'vector-TbL.png' %}"/>
                                <p class="item--xWr">ПОИСК ВАКАНСИЙ</p>
                            </div>
                        </div>
                    </div>
                    <p class="item--paz">Контакты для связи:</p>
                    <p class="item--VBL">Адрес:</p>
                    <p class="item-7-000-000-00-00-oC2">+ 7 499 649-44-80</p>
                    <p class="item-3--tzA">ул. Крымский Вал, 3, Москва</p>
                    <p class="item-900-2000-1000-1800-ZaW">
                        пн-пт: 9.00 - 20.00
                        <br/>
                        сб-вс: 10.00 - 18.00
                    </p>
                    <p class="pochtamailru-Qb8">vopros@misis.ru</p>
                    <p class="pochtamailru-6D4">katyzinan@gmail.com</p>
                    <p class="item--cBQ">
                        <a href="{% static 'Info_vkr.pdf' %}" target="_blank">Информация о разработке</a>
                    </p>
                    <p class="item--yw4">Техническая поддержка сайта:</p>
                    <img class="vk-1-rEA" src="{% static 'vk-1-v6a.png' %}"/>
                    <img class="vk-2-afx" src="{% static 'vk-2.png' %}"/>
                    <img class="ok-1-gDC" src="{% static 'ok-1-efY.png' %}"/>
                    <img class="telegram-1-ChL" src="{% static 'telegram-1-DmY.png' %}"/>
                    <img class="youtube-1-Kmx" src="{% static 'youtube-1-vjQ.png' %}"/>
                    <div class="rectangle-9-T7U">
                        <p class="item--FVx">
                            <a href="https://misis.ru/university/sved/" target="_blank">Сведения об образовательной организации</a>
                        </p>
                        <p class="item--GAA">
                            <a href="https://lk.misis.ru/268_04_19.pdf" target="_blank">Положение об обработке и защите персональных данных</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
