{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'auto-group-19fc.png' %}" type="image/png">
    <meta charset="UTF-8">
    <title>Поддержка</title>
    <link rel="stylesheet" href="{% static 'support.css' %}"> <!-- Подключение файла со стилями -->
</head>
<body>
<div class="support-zEA">
    <div class="frame-2-WyC">
        <div class="misislogoblockdeskfullinvrusrgb-01-1-mu8">
            <img class="auto-group-mvsn-W62" src="{% static 'auto-group-mvsn.png' %}"/>
            <div class="auto-group-yoin-Ryg">
                <img class="vector-m1x" src="{% static 'vector-Rpi.png' %}"/>
                <p class="item--J1t">ПОИСК ВАКАНСИЙ</p>
            </div>
        </div>
        <div class="frame-12-NGe">
            <div class="item--V6N"><a href="{% url 'home' %}">Главная</a></div>
            <div class="item--mJn"><a href="{% url 'employerlist' %}">Работодатели</a></div>
            <p class="item--rb8">Поддержка</p>
        </div>
        <div class="frame-42-gKG">

        </div>
        <div class="profile-HZx">
            <div class="auto-group-mf4a-DCi">
                {% if request.user.is_authenticated %}
                <p class="item--7ot"> {{request.user.first_name}} {{request.user.last_name}}</p>
                {% if request.user.employer %}
                <div class="item--7"><a href="{% url 'employerprofile'  request.user.id %}">Работодатель</a></div>
                {% else %}
                <div class="item--aSa"><a href="{% url 'studprofile' request.user.id %}">Студент</a></div>
                {% endif %}
                {% else %}
                <a href="{% url 'login' %}"><p class="item--5o">Войти</p></a>
                {% endif %}
            </div>
            <div class="ellipse-1-tCN">
                {% if request.user.image %}
                <img src="{{request.user.image.url}}" class="image_vacattion" alt="">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="auto-group-2p34-Afg">
        <div class="auto-group-zjwq-gtv">
            <p class="item--Ddx">Поддержка</p>
        </div>
        <div class="auto-group-wjg2-TRp">
            <p class="item--Bsc">Ваше имя:</p>
            <div class="search-gZU">
                <form action="">
                    <input type="text" placeholder="Введите...">
                </form>
            </div>
            <div class="line-3-jne">
            </div>
            <div class="auto-group-rpog-fwC">
                <p class="item--pJJ">Связаться с нами</p>
                <p class="item-3--S4n">
                    <span class="item-3--S4n-sub-1">ул. Крымский Вал, 3, Москва</span>
                </p>
            </div>
        </div>
        <div class="auto-group-nxbt-nAa">
            <p class="email--7ie">Email:</p>
            <div class="search-1JE">
                <form action="">
                    <input type="text" placeholder="Введите...">
                </form>
            </div>
            <p class="item-9-00-20-00-10-00-18-00-SPY">
                пн-пт: 9:00 - 20:00
                <br/>
                сб-вс: 10:00 - 18:00
            </p>
        </div>
        <div class="auto-group-koqj-LE2">
            <div class="auto-group-cgog-sjk">
                <p class="item--put">Опишите
                    <br/>
                    вашу проблему: </p>
                <p class="item--K5x">Вложение:</p>
            </div>
            <div class="auto-group-wpkq-SRU">
                <div class="search-Lmk">
                    <textarea class="search-Lmk" placeholder="Введите..."></textarea>
                </div>
                <div class="frame-21-BnN">
                    <p class="logopng-vjx">Logo.png</p>
                    <div class="load-pic-KQi">Загрузить</div>
                </div>
            </div>
            <div class="auto-group-biva-v9c">
                <img class="image-1-Fhg" src="{% static 'image-1.png' %}"/>
                <div class="auto-group-qt4n-mvv">
                    <p class="item-7922485-60-73-8Wa">+7(922)485-60-73</p>
                    <p class="katyzinangmailcom-3tS">katyzinan@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="auto-group-xixw-yXC">
            <div class="login-662">Отмена</div>
            <div class="login-hLi">Отправить</div>

        </div>
        <p class="item-2024--2GW">@2024 Политика конфиденциальности</p>
    </div>
    <div class="item--Vft">
        <p class="item-2024--CKQ">@2024 Университет науки и технологий МИСИС</p>
        <div class="login-AQe">Поддержка</div>
        <div class="misislogoblockdeskfullinvrusrgb-01-1-RLa">
            <img class="vector-Kgr" src="{% static 'vector-Yuc.png' %}"/>
            <img class="vector-fki" src="{% static 'vector-GL6.png' %}"/>
            <img class="vector-orv" src="{% static 'vector-DZ8.png' %}"/>
            <img class="vector-xE2" src="{% static 'vector-bKC.png' %}"/>
            <div class="group-10-tdU">
                <img class="auto-group-h78i-R7c" src="{% static 'auto-group-h78i.png' %}"/>
                <div class="auto-group-eeul-7FL">
                    <img class="vector-cht" src="{% static 'vector-TbL.png' %}"/>
                    <p class="item--xWr">ПОИСК ВАКАНСИЙ</p>
                </div>
            </div>
        </div>
        <p class="item--paz">Контакты для связи:</p>
        <p class="item--VBL">Адрес:</p>
        <p class="item-7-000-000-00-00-oC2">+ 7 499 649-44-80</p>
        <p class="item-3--tzA">ул. Крымский Вал, 3, Москва</p>
        <p class="item-900-2000-1000-1800-ZaW">
            пн-пт: 9.00 - 20.00
            <br/>
            сб-вс: 10.00 - 18.00
        </p>
        <p class="pochtamailru-Qb8">vopros@misis.ru</p>
        <p class="pochtamailru-6D4">katyzinan@gmail.com</p>
        <p class="item--cBQ">
            <a href="{% static 'Info_vkr.pdf' %}" target="_blank">Информация о разработке</a>
        </p>
        <p class="item--yw4">Техническая поддержка сайта:</p>
        <img class="vk-1-rEA" src="{% static 'vk-1-v6a.png' %}"/>
        <img class="vk-2-afx" src="{% static 'vk-2.png' %}"/>
        <img class="ok-1-gDC" src="{% static 'ok-1-efY.png' %}"/>
        <img class="telegram-1-ChL" src="{% static 'telegram-1-DmY.png' %}"/>
        <img class="youtube-1-Kmx" src="{% static 'youtube-1-vjQ.png' %}"/>
        <div class="rectangle-9-T7U">
            <p class="item--FVx">
                <a href="https://misis.ru/university/sved/" target="_blank">Сведения об образовательной организации</a>
            </p>
            <p class="item--GAA">
                <a href="https://lk.misis.ru/268_04_19.pdf" target="_blank">Положение об обработке и защите персональных данных</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
