
html {
	font-size:80%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 118.8rem;

}.users-JAi {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}
.users-JAi .frame-2-QDk {
  box-sizing: border-box;
  padding: 2.069rem 3.126rem 2.071rem 3.133rem;
  width: 100%;
  height: 9.3774rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #0a1e64;
  box-shadow: 0 0.5626rem 0.2501rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .misislogoblockdeskfullinvrusrgb-01-1-gSA {
  margin-right: 20.5869rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .misislogoblockdeskfullinvrusrgb-01-1-gSA .auto-group-19fc-C9c {
  margin-right: 0.9781rem;
  width: 4.5767rem;
  height: 5.2378rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .misislogoblockdeskfullinvrusrgb-01-1-gSA .auto-group-54na-hcA {
  margin: 1.182rem 0rem 1.064rem 0rem;
  height: calc(100% - 2.2464rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .misislogoblockdeskfullinvrusrgb-01-1-gSA .auto-group-54na-hcA .vector-R2N {
  margin-bottom: 0.5329rem;
  width: 7.6221rem;
  height: 1.4585rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .misislogoblockdeskfullinvrusrgb-01-1-gSA .auto-group-54na-hcA .item--wmQ {
  margin-left: 0.0018rem;
  font-size: 0.7502rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .frame-12-c6r {
  margin: 1.87rem -7rem 1.468rem 13rem;
  height: calc(100% - 3.3378rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .frame-12-c6r .item--Wi2 a {
  margin-right: 2.9258rem;
  font-size: 1.5004rem;
  font-weight: 500;
  line-height: 1.2175;
  color: white !important;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.users-JAi .frame-2-QDk .frame-12-c6r .item--cFG {
  margin-right: 3.0258rem;
  font-size: 1.5004rem;
  font-weight: 500;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .frame-12-c6r .item--Jdt a {
  margin-right: 3.1258rem;
  font-size: 1.5004rem;
  font-weight: 500;
  line-height: 1.2175;
  color: white !important;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
   text-decoration: none;
}
.users-JAi .frame-2-QDk .frame-12-c6r .item--1YJ {
  font-size: 1.5004rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .frame-42-vfG {
  margin: 0.557rem 2.913rem 0.742rem 0rem;
  height: calc(100% - 1.2993rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .frame-42-vfG .frame-41-FBk {
  margin-right: 0.8752rem;
  width: 3.751rem;
  height: 3.751rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .frame-42-vfG .group-B5Q {
  width: 3.751rem;
  height: 3.9385rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .profile-un6 {
  margin: 0.119rem 0rem 0.117rem 18rem;
  height: calc(100% - 0.2365rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .profile-un6 .auto-group-5fmx-qve {
  margin: 0.688rem 1.853rem 0.588rem 0rem;
  height: calc(100% - 1.2757rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .frame-2-QDk .profile-un6 .auto-group-5fmx-qve .item--Axv {
 margin: -2rem 0.1rem 1rem 0rem;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--5ot a {
   box-sizing: border-box;
   border-radius: 20rem;
   border: 3px solid white;
   color: white !important;
   font-size: 12px;
   font-style: italic;
   font-weight: 1000;
   letter-spacing: 1.2px;
   padding: 4.5px 40px;
   position: relative;
}
.users-JAi .frame-2-QDk .profile-un6 .auto-group-5fmx-qve .item--A {
  margin: -1rem 0.1rem 1rem 0rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.users-JAi .frame-2-QDk .profile-un6 .auto-group-5fmx-qve .item--5om a {
   box-sizing: border-box;
   border-radius: 20rem;
   border: 3px solid white;
   color: white;
   font-size: 12px;
   font-style: italic;
   font-weight: 400;
   letter-spacing: 1.2px;
   padding: 4.5px 40px;
   position: relative;
}

.users-JAi .frame-2-QDk .profile-un6 .auto-group-5fmx-qve .item--UTp {
  margin-right: 0.0109rem;
  text-align: right;
  font-size: 1.2503rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.users-JAi .auto-group-xyre-foC {
  box-sizing: border-box;
  padding: 2.501rem 3.688rem 8.44rem 3.688rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .auto-group-yycs-zKg {
  margin: 0rem 2.563rem 3.727rem 2.563rem;
  width: calc(100% - 5.1263rem);
  height: 4.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .auto-group-yycs-zKg .item--hUz {
  font-size: 4.001rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .auto-group-yycs-zKg .auto-group-agce-o2E {
  box-sizing: border-box;
  padding-left: 14.4172rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .auto-group-yycs-zKg .auto-group-agce-o2E .search-L2A {
  margin: 1rem 1rem -7rem 0rem;
  max-width: 500px;
  position: relative;
  background: #f7f7f7;
  border-radius: 300px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-L2A input[type="text"] {
  margin: 0rem 28rem 0.2rem 0rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  box-sizing: border-box;
  color: #11111;
  text-align: left;
}
.users-JAi .auto-group-xyre-foC .auto-group-yycs-zKg .auto-group-agce-o2E .filter-9EW {
  margin: 2rem -1rem 1rem 43.563rem;
    box-sizing: border-box;
    padding: 1rem;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
}
.users-JAi .auto-group-xyre-foC .auto-group-yycs-zKg .auto-group-agce-o2E .tunefill0wght400grad0opsz24-1-fin  {
top: 3rem;
   width: 2rem;
  height: 2rem;
  left: 10rem;
  object-fit: contain;
  vertical-align: top;
}



.users-JAi .auto-group-xyre-foC .group-9-ewx {
  width: 100%;
  row-gap: 2.5006rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY {
  width: 100%;
  height: 100%;
  column-gap: 1.8755rem;
  align-items: center;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-2-8ML {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-2-8ML .ellipse-2-f6N {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-2-8ML .auto-group-3vvj-az2 {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-2-8ML .auto-group-3vvj-az2 .item--iqL {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 2.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-2-8ML .auto-group-3vvj-az2 .item--EYn {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-3-Uxv {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-3-Uxv .ellipse-2-1hx {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-3-Uxv .auto-group-hq1g-YSz {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-3-Uxv .auto-group-hq1g-YSz .item--H9g {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-3-Uxv .auto-group-hq1g-YSz .item--bgA {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-4-euL {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-4-euL .ellipse-2-nVk {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-4-euL .auto-group-wjcr-ieJ {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-4-euL .auto-group-wjcr-ieJ .item--enr {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-4-euL .auto-group-wjcr-ieJ .item--AmC {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-5-Rx2 {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-5-Rx2 .ellipse-2-Aei {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-5-Rx2 .auto-group-rqa6-huY {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-5-Rx2 .auto-group-rqa6-huY .item--eZt {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-14-PuY .group-5-Rx2 .auto-group-rqa6-huY .item--aCe {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg {
  width: 100%;
  height: 8.7522rem;
  display: flex;
  column-gap: 1.8755rem;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-2-HmG {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-2-HmG .ellipse-2-2Tx {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-2-HmG .auto-group-jutx-N22 {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-2-HmG .auto-group-jutx-N22 .item--rxn {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-2-HmG .auto-group-jutx-N22 .item--z3Q {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-3-RuQ {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-3-RuQ .ellipse-2-YUE {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-3-RuQ .auto-group-7mca-SZc {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-3-RuQ .auto-group-7mca-SZc .item--m66 {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-3-RuQ .auto-group-7mca-SZc .item--sup {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-4-LYW {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-4-LYW .ellipse-2-3hp {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-4-LYW .auto-group-crdc-wYJ {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-4-LYW .auto-group-crdc-wYJ .item--eSi {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-4-LYW .auto-group-crdc-wYJ .item--ZJn {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-5-CMk {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-5-CMk .ellipse-2-KSN {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-5-CMk .auto-group-wmrg-Smt {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-5-CMk .auto-group-wmrg-Smt .item--yG2 {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-15-yVg .group-5-CMk .auto-group-wmrg-Smt .item--gw8 {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe {
  width: 100%;
  height: 8.7522rem;
  display: flex;
  column-gap: 1.8755rem;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-2-5Ca {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-2-5Ca .ellipse-2-Pyx {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-2-5Ca .auto-group-7nra-XqG {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-2-5Ca .auto-group-7nra-XqG .item--Typ {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-2-5Ca .auto-group-7nra-XqG .item--P6n {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-3-qjU {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-3-qjU .ellipse-2-m7L {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-3-qjU .auto-group-661u-69c {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-3-qjU .auto-group-661u-69c .item--opi {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-3-qjU .auto-group-661u-69c .item--VBk {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-4-gn2 {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-4-gn2 .ellipse-2-1JW {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-4-gn2 .auto-group-uyb4-wT4 {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-4-gn2 .auto-group-uyb4-wT4 .item--TwC {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-4-gn2 .auto-group-uyb4-wT4 .item--b1p {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-5-eVt {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-5-eVt .ellipse-2-Zsk {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-5-eVt .auto-group-1v3c-hj4 {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-5-eVt .auto-group-1v3c-hj4 .item--Rf4 {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-16-YCe .group-5-eVt .auto-group-1v3c-hj4 .item--Vup {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc {
  width: 100%;
  height: 8.7522rem;
  display: flex;
  column-gap: 1.8755rem;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-2-VHY {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-2-VHY .ellipse-2-d8r {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-2-VHY .auto-group-2wzj-xB8 {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-2-VHY .auto-group-2wzj-xB8 .item--5We {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-2-VHY .auto-group-2wzj-xB8 .item--CrA {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-3-5QA {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-3-5QA .ellipse-2-1Hp {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-3-5QA .auto-group-cotc-whG {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-3-5QA .auto-group-cotc-whG .item--UhC {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-3-5QA .auto-group-cotc-whG .item--oUa {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-4-5S6 {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-4-5S6 .ellipse-2-p8n {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-4-5S6 .auto-group-wv5y-k2S {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-4-5S6 .auto-group-wv5y-k2S .item--BtS {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-4-5S6 .auto-group-wv5y-k2S .item--WQv {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-5-ZPC {
  box-sizing: border-box;
  padding: 1.875rem 5.079rem 1.875rem 2.501rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1875rem #0a1e64;
  box-shadow: 0 0.3126rem 0.3126rem rgba(0, 0, 0, 0.25);
  background-color: #d9d9d9;
  border-radius: 1.8755rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-5-ZPC .ellipse-2-tgN {
  margin-right: 1.8755rem;
  width: 5.0013rem;
  height: 5.0013rem;
  background-color: #0a1e64;
  border-radius: 2.5006rem;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-5-ZPC .auto-group-umhx-q5p {
  margin: 0.625rem 0rem 0.526rem 0rem;
  height: calc(100% - 1.1507rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-5-ZPC .auto-group-umhx-q5p .item--kyU {
  margin-bottom: 0.3506rem;
  font-size: 1.5004rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .auto-group-xyre-foC .group-9-ewx .frame-17-xHc .group-5-ZPC .auto-group-umhx-q5p .item--tJz {
  font-size: 1.2503rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #0a1e64;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU {
  width: 120.1rem;

    position: relative;
    overflow: hidden;
    background-color: #0a1e64;

 }
.users-JAi .item--vmU .auto-group-dwqg-fDG {
  box-sizing: border-box;
  padding: 2.813rem 3.126rem 3.259rem 3.133rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn {
  margin-bottom: 0.6005rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU {
  margin: 0.006rem 10.467rem 0rem 0rem;
  width: 13.6566rem;
  height: 5.2378rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .vector-De6 {
  width: 2.6204rem;
  height: 5.2378rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .vector-MEW {
  width: 1.2576rem;
  height: 1.2571rem;
  position: absolute;
  left: 1.9916rem;
  top: 1.9904rem;
  object-fit: contain;
  vertical-align: top;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .vector-Upv {
  width: 1.9563rem;
  height: 3.9109rem;
  position: absolute;
  left: 2.6204rem;
  top: 0.6635rem;
  object-fit: contain;
  vertical-align: top;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .vector-REN {
  width: 2.5851rem;
  height: 2.584rem;
  position: absolute;
  left: 1.3275rem;
  top: 1.3269rem;
  object-fit: contain;
  vertical-align: top;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .group-10-ZbU {
  width: 13.6566rem;
  height: 5.2378rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .group-10-ZbU .auto-group-ve3y-77C {
  margin-right: 0.9781rem;
  width: 4.5767rem;
  height: 5.2378rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .group-10-ZbU .auto-group-dagn-SfG {
  margin: 1.182rem 0rem 1.064rem 0rem;
  height: calc(100% - 2.2465rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .group-10-ZbU .auto-group-dagn-SfG .vector-ArA {
  margin-bottom: 0.5329rem;
  width: 7.6221rem;
  height: 1.4585rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .misislogoblockdeskfullinvrusrgb-01-1-XFU .group-10-ZbU .auto-group-dagn-SfG .item--Wv2 {
  margin-left: 0.0018rem;
  font-size: 0.7502rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .auto-group-5avr-cCN {
  margin: 0.688rem 4.395rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .auto-group-5avr-cCN .item--YLv {
  margin-bottom: 2.401rem;
  font-size: 1.3128rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .auto-group-5avr-cCN .item--EUe a {
  font-size: 1.1253rem;
  font-weight: 500;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: white !important;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .auto-group-q8sa-7oL {
  margin: 0.688rem 26.948rem 0rem 10rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .auto-group-q8sa-7oL .item--rW2 {
  margin-bottom: 2.401rem;
  font-size: 1.3128rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .auto-group-q8sa-7oL .item-7-000-000-00-00-9k2 {
  font-size: 1.1253rem;
  font-weight: 500;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-fhs4-nYn .login-svv a {
  width: 19.0048rem;
  height: 3.8135rem;
  text-align: center;
  font-size: 1.3128rem;
  font-weight: 600;
  line-height: 1.2175;
  color: white !important;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #143194;
  border-radius: 1.8755rem;
  flex-shrink: 0;
  text-decoration: none;
  border: solid 0.0626rem #eaeaea;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-4ebx-9tS {
  margin: 0rem 52.253rem 0.6rem 24.124rem;
  width: calc(100% - 76.3769rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-4ebx-9tS .pochtamailru-5GJ {
  margin-right: 12.9947rem;
  font-size: 1.1253rem;
  font-weight: 500;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-4ebx-9tS .pochtamailru-oCJ {
  margin: 0rem 25.948rem 0rem 10rem;
  font-size: 1.1253rem;
  font-weight: 500;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-1m1g-LT8 {
  margin: 0rem 36.263rem 0rem 24.124rem;
  width: calc(100% - 76.3871rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-1m1g-LT8 .item--Fpz {
  margin: 0rem 20.895rem 0.343rem 0rem;
  font-size: 1.1253rem;
  font-weight: 500;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-1m1g-LT8 .vk-1-xUW {
  margin-right: -23rem;
  width: 49.5004rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-1m1g-LT8 .ok-1-u8r {
  margin-right: 1.0628rem;
  width: 1.5004rem;
  height: 1.5004rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-1m1g-LT8 .telegram-1-3F4 {
  margin-right: 1.0628rem;
  width: 1.5004rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-dwqg-fDG .auto-group-1m1g-LT8 .youtube-1-PJv {
  width: 1.5004rem;
  height: 1.5004rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-hhxr-Mjk {
  box-sizing: border-box;
  padding: 2.3rem 68.4rem 13rem 68.5rem;
  width: 100%;
  height: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.400000006) -0%, rgba(20, 49, 148, 0.400000006) 100%);
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-hhxr-Mjk .item-2024--ULN {
  width: 25.3rem;
  height: 1.3rem;
  position: absolute;
  left: 56.3995rem;
  top: 24.8768rem;
  text-align: center;
  font-size: 1.0003rem;
  font-weight: 500;
  line-height: 1.2175;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.users-JAi .item--vmU .auto-group-hhxr-Mjk .item--Uza a {
  margin-bottom: 0.3rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: white !important;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-hhxr-Mjk .item--6m4 a {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2175;
  text-decoration-line: underline;
  color: white !important;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.users-JAi .item--vmU .auto-group-fefx-irz .rectangle-9-ivr {
  width: 120.0305rem;
  height: 27.382rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.400000006) -0%, rgba(20, 49, 148, 0.400000006) 100%);
}

.image_vacaation{
  width: 5rem;
  height: 5rem;
 border-radius: 2.5006rem;
  flex-shrink: 0;
 }
 .image_vacation{
    width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  flex-shrink: 0;
}

.ellipse-1-zBG {
  width: 5rem;
  height: 5rem;
  background-color: #d9d9d9;
  border-radius: 4rem;
  flex-shrink: 0;
}