html {
	font-size:125%;
}
.output-splitter-child {
  height: 5.863rem;
  width: 75.063rem;
  position: relative;
  background-color: var(--color-midnightblue-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.value-processor-icon {
  height: 0.788rem;
  width: 0.788rem;
  position: absolute;
  margin: 0 !important;
  top: 2.538rem;
  left: 3.206rem;
  z-index: 2;
}
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.619rem;
  height: 1.619rem;
  z-index: 4;
}
.vector-icon1 {
  position: absolute;
  top: 0.413rem;
  left: 0.419rem;
  width: 0.788rem;
  height: 0.788rem;
  z-index: 6;
}
.vector-icon2,
.vector-parent {
  height: 1.619rem;
  width: 1.619rem;
  position: absolute;
}
.vector-icon2 {
  top: 0;
  left: 0;
  z-index: 8;
}
.vector-parent {
  margin: 0 !important;
  bottom: 2.119rem;
  left: 2.788rem;
}
.vector-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.vector-group,
.vector-icon3,
.vector-icon4 {
  height: 3.275rem;
  width: 1.638rem;
}
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.vector-group {
  position: relative;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.225rem;
  height: 2.444rem;
  z-index: 3;
}
.vector-icon6 {
  z-index: 7;
}
.vector-container {
  width: 1.225rem;
  height: 2.444rem;
  position: relative;
}
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  flex-direction: column;
  padding: 0.413rem 0 0;
}
.frame-group {
  flex-direction: row;
  gap: 0.006rem;
}
.div,
.vector-icon7 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.vector-icon7 {
  width: 4.769rem;
  height: 0.913rem;
}
.div {
  font-weight: 600;
  display: inline-block;
  min-width: 4.875rem;
}
.frame-container,
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-div {
  flex: 1;
  justify-content: flex-start;
  gap: 0.338rem;
}
.frame-container {
  height: 2.538rem;
  justify-content: flex-end;
  padding: 0 0 0.725rem;
  box-sizing: border-box;
}
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 5.35rem 0 0;
  gap: 0.606rem;
}
.div1 a {
position: relative;
  font-weight: 500;
  z-index: 1;
  color: white !important;
  text-decoration: none;
}
.div2 a {
position: relative;
  font-weight: 500;
  z-index: 1;
  color: white !important;
  text-decoration: none;
}
.div3 a {
  position: relative;
  font-weight: 500;
  z-index: 1;
  color: white !important;
  text-decoration: none;
}
.item--A {
  margin: 0rem 0.1rem 0.3rem 0rem;
  text-align: right;
  font-size: 1rem;
  font-weight: 1000;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.output-splitter-inner,
.parent {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  flex-direction: row;
  gap: 1.956rem;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-montserrat);
}
.output-splitter-inner {
  flex-direction: column;
  padding: 0.894rem 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.div4 a {
 margin: 1rem 0.1rem 1rem 0rem;
   box-sizing: border-box;
   border-radius: 20rem;
   border: 3px solid white;
   color: white !important;
   font-size: 12px;
   font-style: italic;
   font-weight: 1000;
   letter-spacing: 1.2px;
   padding: 4.5px 40px;
   position: relative;
}

.div5 {
  width: 5.625rem;
  font-size: 0.781rem;
  min-width: 5.625rem;
}
.frame-wrapper1,
.group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group {
  align-self: stretch;
  align-items: flex-end;
  gap: 0.2rem;
}
.frame-wrapper1 {
  flex: 1;
  align-items: flex-start;
  padding: 0.431rem 0 0;
}
.frame-child {
  margin: -3rem 0.1rem 1rem 10rem;
  width: 3rem;
  height: 3rem;
  background-color: #d9d9d9;
  border-radius: 4rem;
  flex-shrink: 0;
}
.frame-parent1,
.output-splitter-inner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  flex: 1;
  flex-direction: row;
  gap: 1.163rem;
}
.output-splitter-inner1 {
  height: 3.2rem;
  flex-direction: column;
  padding: 0.075rem 0 0;
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-mini);
}
.condition-checker,
.output-splitter {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  max-width: 100%;
}
.output-splitter {
  flex: 1;
  background-color: var(--color-midnightblue-200);
  box-shadow: 0 5.6px 2.5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  justify-content: space-between;
  padding: 1.294rem 1.956rem;
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xs-5);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.condition-checker {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0.387rem;
  top: 0;
  z-index: 99;
  position: sticky;
}
.profile-stud-child,
.profile-stud-item {
  width: 1.063rem;
  height: 3.063rem;
  position: absolute;
  margin: 0 !important;
  right: 2.5rem;
  object-fit: contain;
}
.profile-stud-child {
  top: 45.5rem;
  right: 1.2rem;
}
.profile-stud-item {
  bottom: 35.313rem;
}
.frame-item {
  position: absolute;
  top: 0;
  left: -0.062rem;
  background-color: var(--color-midnightblue-200);
  width: 75.063rem;
  height: 19.438rem;
}
.div7 {
  position: absolute;
  top: 14.619rem;
  left: 29.456rem;
  font-size: var(--font-size-3xs);
  font-weight: 500;
  color: var(--color-gray);
  text-align: center;
}
.login-child {
  top: 0;
  left: calc(50% - 95.1px);
  border-radius: 18.77px;
  background-color: var(--color-midnightblue-100);
  border: 0.6px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.div8,
.login,
.login-child {
  position: absolute;
}
.div8 {
  top: 0.588rem;
  left: 2.575rem;
  font-weight: 600;
  display: inline-block;
  width: 6.688rem;
}
.login {
  top: 1.756rem;
  left: 61.163rem;
  width: 11.888rem;
  height: 2.388rem;
  text-align: center;
  font-size: var(--font-size-sm-1);
}
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.638rem;
  height: 3.275rem;
}
.vector-icon10,
.vector-parent1 {
  position: absolute;
  top: 1.763rem;
  left: 1.894rem;
  width: 1.638rem;
  height: 3.275rem;
}
.vector-icon10 {
  top: 3.006rem;
  left: 3.144rem;
  width: 0.788rem;
  height: 0.788rem;
}
.vector-icon11,
.vector-icon12,
.vector-parent2 {
  position: absolute;
  width: 1.225rem;
  height: 2.444rem;
}
.vector-icon11,
.vector-icon12 {
  top: 0;
  left: 0;
}
.vector-parent2 {
  top: 2.175rem;
  left: 3.538rem;
}
.vector-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.619rem;
  height: 1.619rem;
}
.vector-icon14 {
  position: absolute;
  top: 0.413rem;
  left: 0.419rem;
  width: 0.788rem;
  height: 0.788rem;
}
.vector-icon15,
.vector-parent3 {
  position: absolute;
  width: 1.619rem;
  height: 1.619rem;
}
.vector-icon15 {
  top: 0;
  left: 0;
}
.vector-parent3 {
  top: 2.594rem;
  left: 2.725rem;
}
.div9,
.vector-icon16 {
  position: absolute;
  left: 5.369rem;
}
.vector-icon16 {
  top: 2.5rem;
  width: 4.769rem;
  height: 0.913rem;
}
.div9 {
  top: 3.75rem;
  font-size: var(--font-size-5xs-5);
  font-weight: 600;
  display: inline-block;
  min-width: 4.875rem;
}
.div10 {
  top: 11.219rem;
  left: 29.181rem;
  text-decoration: underline;
  line-height: 0.9rem;
  font-weight: 500;
  text-align: center;
}
.div10,
.div11,
.div12 {
  position: absolute;
}
.div11 {
  top: 12.2rem;
  left: 26.6rem;
  text-decoration: underline;
  line-height: 0.9rem;
  font-weight: 500;
  text-align: center;
}
.div12 {
  top: 2.188rem;
  left: 35.981rem;
  font-size: var(--font-size-sm-1);
  font-weight: 600;
}
.div13,
.div14,
.div15 {
  position: absolute;
  display: inline-block;
}
.div13 {
  top: 2.188rem;
  left: 49.156rem;
  font-size: var(--font-size-sm-1);
  font-weight: 600;
  min-width: 3rem;
}
.div14,
.div15 {
  top: 4.694rem;
  text-decoration: underline;
  font-weight: 500;
}
.div14 {
  left: 35.981rem;
  min-width: 6.688rem;
}
.div15 {
  left: 49.156rem;
  width: 7.819rem;
}
.p,
.p1 {
  margin: 0;
}
.div16 {
  position: absolute;
  top: 6.8rem;
  left: 49.156rem;
  font-weight: 500;
  display: inline-block;
  width: 7.819rem;
}
.pochtamailru {
  position: absolute;
  left: 35.981rem;
}
.pochtamailru,
.pochtamailru1 {
  top: 5.944rem;
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  min-width: 5.75rem;
  white-space: nowrap;
}
.div17,
.div18,
.pochtamailru1 {
  position: absolute;
  left: 17.963rem;
}
.div17 {
  top: 4.694rem;
  text-decoration: underline;
  line-height: 0.9rem;
  font-weight: 500;
}
.div18 {
  top: 2.188rem;
  font-size: var(--font-size-sm-1);
  font-weight: 600;
  display: inline-block;
  width: 13.838rem;
}
.vk-1-icon,
.vk-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.938rem;
  height: 0.975rem;
  overflow: hidden;
}
.ok-1-icon,
.telegram-1-icon,
.vk-1-parent,
.youtube-1-icon {
  position: absolute;
  top: 7.313rem;
  left: 35.981rem;
  width: 0.938rem;
  height: 0.975rem;
}
.ok-1-icon,
.telegram-1-icon,
.youtube-1-icon {
  left: 37.588rem;
  overflow: hidden;
}
.telegram-1-icon,
.youtube-1-icon {
  left: 39.188rem;
}
.youtube-1-icon {
  left: 40.794rem;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0.063rem;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: var(--font-size-xs-3);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.div6 {
  align-self: stretch;
  height: 17.5rem;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 3;
}
.frame-inner {
  height: 12.563rem;
  width: 12.563rem;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.ellipse-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0.125rem;
}
.load-pic-child {
  height: 3.331rem;
  width: 12.625rem;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-midnightblue-300);
  display: none;
}
.div19 {
  height: 1.613rem;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-midnightblue-200);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.load-pic,
.load-pic-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.load-pic {

  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) 2.212rem var(--padding-3xs-5) 2.25rem;
  background-color: var(--color-midnightblue-300);
  border-radius: var(--br-21xl);
  white-space: nowrap;
}
.load-pic1:hover,
.load-pic2:hover,
.load-pic:hover {
  background-color: var(--color-darkslateblue);
}
.load-pic-wrapper {
  padding: 0 0 0.419rem var(--padding-4xs);
}
.h2,
.h21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.h21 {
  flex: 1;
  left: -0.8rem;
}
.container,
.frame-parent4,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1.875rem;
}
.container,
.frame-parent4 {
  flex-direction: column;
}
.container {
  width: 11.875rem;
  gap: 0.063rem;
}
.frame-parent4 {
  height: 23.063rem;
  gap: 1.5rem;
  min-width: 13.188rem;
}
.h1,
.h11,
.pochtamailru2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.h11,
.pochtamailru2 {
  font-weight: 500;
}
.h11 {
  width: 15.25rem;
  display: inline-block;
  flex-shrink: 0;
}
.pochtamailru2 {
  white-space: nowrap;
}
.data-processor,
.data-processor-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.data-processor {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.data-processor-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.error-handler,
.h12 {
  position: relative;
  font-weight: 500;
}
.h12 {
  margin: 0;
  width: 11.438rem;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
      left: -7rem;
}
.error-handler {
  line-height: 2.45rem;
      left: -7rem;
}
.frame-parent6,
.output-aggregator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.875rem;
  max-width: 100%;
}
.frame-parent6 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.875rem;
}
.frame-wrapper4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xs) 0 var(--padding-2xs);
  box-sizing: border-box;
  font-size: var(--font-size-13xl);
}
.frame-wrapper3,
.frame-wrapper4,
.parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.parent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.frame-wrapper3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 0.188rem;
  box-sizing: border-box;
}
.h22,
.hr {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.h22 {
  align-self: stretch;
}
.hr {
  flex: 1;
}
.data-comparator {
  width: 4.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.438rem;
  box-sizing: border-box;
}
.frame-parent5,
.log-manager {
  flex-direction: column;
  align-items: flex-start;
}
.log-manager {
  width: 10.875rem;
  display: flex;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.frame-parent5 {
  flex: 1;
  gap: 7.938rem;
  min-width: 22.813rem;
  font-size: 2.688rem;
}
.frame-parent3,
.frame-parent5,
.frame-wrapper2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
}
.frame-wrapper2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
}
.load-pic-item {
  height: 3.331rem;
  width: 12.625rem;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-midnightblue-300);
  display: none;
}


.div20 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-midnightblue-200);
  text-align: left;
  display: inline-block;
  min-width: 5.625rem;
  z-index: 1;
}
.frame-parent2,
.load-pic1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.load-pic1 {
margin: 4rem 0.1rem 1rem 0rem;
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) 3.25rem 1.081rem var(--padding-41xl);
  background-color: var(--color-midnightblue-300);
  border-radius: var(--br-21xl);
}
.frame-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 65.875rem;
  flex-wrap: wrap;
  gap: 4.5rem;
  max-width: 100%;
}
.h23 {
  margin: 0;
  position: absolute;
  top: 26.813rem;
  left: 33rem;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 8.813rem;
}
.frame-child1,
.rectangle-div {
  position: relative;
  display: none;
}
.rectangle-div {
  align-self: stretch;
  height: 25.781rem;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
}
.frame-child1 {
  height: 6.644rem;
  width: 21.094rem;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  max-width: 100%;
}
.ellipse-div {
  align-self: stretch;
  width: 4rem;
   height: 4rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.b,
.ellipse-div {
  position: relative;
  z-index: 2;
}
.b,
.div21,
.parent2 {
  align-self: stretch;
}
.div21 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  z-index: 2;
}
.parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-wrapper6 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.ellipse-parent,
.frame-wrapper5,
.frame-wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent {
  width: 17.188rem;
  flex: 1;
  flex-direction: row;
  gap: 1.169rem;
}
.frame-wrapper5 {
  align-self: stretch;
  width: 16.231rem;
  flex-direction: column;
  padding: 0.181rem 0 0;
  box-sizing: border-box;
}
.image-2-icon {
  height: 1.281rem;
  width: 1.375rem;
  position: relative;
  object-fit: cover;
  z-index: 5;
}
.rectangle-container {
  align-self: stretch;
  height: 6.644rem;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-5xl-5) 1.369rem 1.956rem;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.div22 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.gsam-tes-ikar,
.lrem-ipsum-dopyprade,
.medellogi-nyskade-laligen {
  margin: 0;
}
.lrem-ipsum-dopyprade-container {
  align-self: stretch;
  height: 12.581rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper7,
.parent3 {
  display: flex;
  align-items: flex-start;
}
.parent3 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.356rem;
}
.frame-wrapper7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1.95rem 0.606rem var(--padding-12xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.child,
.item {
  height: 1.588rem;
  width: 7.9rem;
  position: relative;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
  display: none;
}
.div23 a {
margin: 1rem 0rem 0rem 1rem;
  flex: 1;
  position: relative;
  font-size: var(--font-size-4xs-7);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: white !important;
  text-align: center;
  z-index: 2;
  text-decoration: none;
}
.button,
.inner {
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0.387rem var(--padding-8xl-5) 0.512rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.inner {
  height: 1.588rem;
}
.child1,
.div26,
.inner {
  position: relative;
  display: none;
}
.child1 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
}
.div26 {
  width: 4.444rem;
  font-weight: 600;
  flex-shrink: 0;
  min-width: 4.444rem;
}
.child2 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
}
.child2,
.child3,
.div27 {
  position: relative;
  display: none;
}
.child3 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
}
.div27 {
  width: 4.444rem;
  font-weight: 600;
  flex-shrink: 0;
  min-width: 4.444rem;
}
.exclude-icon  {
  height: 0.488rem;
  width: 4.356rem;
  position: relative;
  z-index: 4;
}
.div24,
.div25 {
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
  justify-content: flex-start;
  z-index: 1;
}
.div25 a {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.569rem 1.762rem 0.531rem var(--padding-9xl-5);
  color: white !important;
  text-decoration: none;

}
.div24 {
  height: 1.588rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div24,
.frame-wrapper8,
.parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent4 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper8 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0.756rem 0 var(--padding-lgi);
  text-align: center;
  font-size: var(--font-size-4xs-7);
}
.rectangle-group {
  flex: 1;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 1.319rem;
  box-sizing: border-box;
  gap: var(--gap-smi-5);
  min-width: 15.813rem;
  max-width: 100%;
}
.frame-child2,
.frame-child3 {
  position: relative;
  display: none;
}
.frame-child2 {
  align-self: stretch;
  height: 25.781rem;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
}
.frame-child3 {
  height: 6.644rem;
  width: 21.094rem;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  max-width: 100%;
}
.b1,
.frame-child4 {
  position: relative;
  z-index: 2;
}
.frame-child4 {
  align-self: stretch;
  width: 3.906rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.b1 {
  width: 11.219rem;
  display: inline-block;
}
.div28,
.parent5 {
  align-self: stretch;
}
.div28 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  z-index: 2;
}
.parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-wrapper10 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.ellipse-group,
.frame-wrapper10,
.frame-wrapper9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-group {
  width: 17.188rem;
  flex: 1;
  flex-direction: row;
  gap: 1.169rem;
}
.frame-wrapper9 {
  align-self: stretch;
  width: 16.294rem;
  flex-direction: column;
  padding: 0.306rem 0 0;
  box-sizing: border-box;
}
.image-3-icon {
  height: 1.281rem;
  width: 1.375rem;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.div29,
.rectangle-parent2 {
  align-self: stretch;
  z-index: 1;
}
.rectangle-parent2 {
  height: 6.644rem;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-4xl-5) 1.369rem 1.956rem;
  box-sizing: border-box;
  max-width: 100%;
}
.div29 {
  position: relative;
  font-weight: 500;
}
.gsam-tes-ikar1,
.lrem-ipsum-dopyprade1,
.medellogi-nyskade-laligen1 {
  margin: 0;
}
.lrem-ipsum-dopyprade-container1 {
  align-self: stretch;
  height: 12.581rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper11,
.parent6 {
  display: flex;
  align-items: flex-start;
}
.parent6 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.356rem;
}
.frame-wrapper11 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1.95rem 0.606rem var(--padding-12xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.child4,
.child5 {
  height: 1.588rem;
  width: 7.9rem;
  position: relative;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
  display: none;
}
.div30 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-4xs-7);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.button1,
.child6 {
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0.387rem var(--padding-8xl-5) 0.512rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.child6 {
  height: 1.588rem;
}
.child6,
.child7,
.div33 {
  position: relative;
  display: none;
}
.child7 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
}
.div33 {
  width: 4.444rem;
  font-weight: 600;
  flex-shrink: 0;
  min-width: 4.444rem;
}
.child8 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
}
.child8,
.child9,
.div34 {
  position: relative;
  display: none;
}
.child9 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
}
.div34 {
  width: 4.444rem;
  font-weight: 600;
  flex-shrink: 0;
  min-width: 4.444rem;
}
.exclude-icon1 {
  height: 0.488rem;
  width: 4.356rem;
  position: relative;
  z-index: 4;
}
.div31,
.div32 {
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
  justify-content: flex-start;
  z-index: 1;
}
.div32 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.569rem 1.762rem 0.531rem var(--padding-9xl-5);
}
.div31 {
  height: 1.588rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div31,
.frame-wrapper12,
.parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent7 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper12 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0.756rem 0 var(--padding-lgi);
  text-align: center;
  font-size: var(--font-size-4xs-7);
}
.rectangle-parent1 {
  flex: 1;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 1.319rem;
  box-sizing: border-box;
  gap: var(--gap-smi-5);
  min-width: 15.813rem;
  max-width: 100%;
}
.frame-child5,
.frame-child6 {
  position: relative;
  display: none;
}
.frame-child5 {
  align-self: stretch;
  height: 25.781rem;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
}
.frame-child6 {
  height: 6.644rem;
  width: 21.094rem;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  max-width: 100%;
}
.frame-child7 {
  align-self: stretch;
  width: 3.906rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.b2,
.frame-child7 {
  position: relative;
  z-index: 2;
}
.b2,
.div35,
.parent8 {
  align-self: stretch;
}
.div35 {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  z-index: 2;
}
.parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);

}
.frame-wrapper14 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.ellipse-container,
.frame-wrapper13,
.frame-wrapper14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-container {
  width: 17.188rem;
  flex: 1;
  flex-direction: row;
  gap: 1.169rem;
}
.frame-wrapper13 {
  align-self: stretch;
  width: 16.669rem;
  flex-direction: column;
  padding: 0.306rem 0 0;
  box-sizing: border-box;
}
.image-4-icon {
  height: 1.281rem;
  width: 1.375rem;
  position: relative;
  object-fit: cover;
  z-index: 5;
}
.div36,
.rectangle-parent3 {
  align-self: stretch;
  z-index: 1;
}
.rectangle-parent3 {
  height: 6.644rem;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mid-5) 1.369rem 1.956rem;
  box-sizing: border-box;
  max-width: 100%;
}
.div36 {
  position: relative;
  font-weight: 500;
}
.gsam-tes-ikar2,
.lrem-ipsum-dopyprade2,
.medellogi-nyskade-laligen2 {
  margin: 0;
}
.lrem-ipsum-dopyprade-container2 {
  align-self: stretch;
  height: 12.581rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-wrapper15,
.parent9 {
  display: flex;
  align-items: flex-start;
}
.parent9 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.356rem;
}
.frame-wrapper15 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1.95rem 0.606rem var(--padding-12xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.child10,
.child11 {
  height: 1.588rem;
  width: 7.9rem;
  position: relative;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
  display: none;
}
.div37 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-4xs-7);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.button2,
.child12 {
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0.387rem var(--padding-8xl-5) 0.512rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.child12 {
  height: 1.588rem;
}
.child12,
.child13,
.div40 {
  position: relative;
  display: none;
}
.child13 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
}
.div40 {
  width: 4.444rem;
  font-weight: 600;
  flex-shrink: 0;
  min-width: 4.444rem;
}
.child14 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
}
.child14,
.child15,
.div41 {
  position: relative;
  display: none;
}
.child15 {
  height: 1.588rem;
  width: 7.9rem;
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
}
.div41 {
  width: 4.444rem;
  font-weight: 600;
  flex-shrink: 0;
  min-width: 4.444rem;
}
.exclude-icon2 {
  height: 0.488rem;
  width: 4.356rem;
  position: relative;
  z-index: 4;
}
.div38,
.div39 {
  border-radius: 12.48px;
  background-color: var(--color-darkslategray);
  justify-content: flex-start;
  z-index: 1;
}
.div39 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.569rem 1.762rem 0.531rem var(--padding-9xl-5);
}
.div38 {
  height: 1.588rem;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.div38,
.frame-wrapper16,
.parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.parent10 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper16 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 0.756rem 0 var(--padding-lgi);
  text-align: center;
  font-size: var(--font-size-4xs-7);
}

.frame-parent8,
.group-div {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.group-div {
  flex: 1;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 1.319rem;
  box-sizing: border-box;
  gap: var(--gap-smi-5);
  min-width: 15.813rem;
}
.frame-parent8 {
 margin: 0rem 2.8rem 2.7rem 0rem;
    width: calc(100% - 23rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 2rem;
    row-gap: 2rem;

}
.load-pic-inner {
  height: 3.313rem;
  width: 16rem;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-midnightblue-300);
  display: none;
}
.div42 a {
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: black !important;
  text-align: left;
  display: inline-block;
  min-width: 7.813rem;
  z-index: 1;
  text-decoration: none;
}
.load-pic-container,
.load-pic2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.load-pic2 {
margin: -2rem -1rem 2rem 0rem;
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) 4.063rem var(--padding-mid);
  background-color: var(--color-midnightblue-300);
  border-radius: var(--br-21xl);
  justify-content: flex-start;
  white-space: nowrap;
}
.load-pic-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 2rem 3.063rem;
}
.h24 {
  margin: -3rem -1rem -1rem 0rem;
  width: 8.813rem;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  right: -20rem;
}
.frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-41xl);
}
.frame-child8,
.frame-child9 {
  position: relative;
  display: none;
}
.frame-child8 {
  align-self: stretch;
  height: 25.781rem;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
}
.frame-child9 {
  height: 6.644rem;
  width: 21.094rem;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  max-width: 100%;
}
.frame-child10 {
  width: 3.906rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.frame-child10,
.katyzina,
.telegram {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.telegram {
  font-weight: 500;
  color: white;
}
.katyzina {
  font-size: var(--font-size-xl);
  color: white;
}
.telegram-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-wrapper19 {
  flex: 1;
  flex-direction: column;
  padding: 0.194rem 0 0;
}
.ellipse-parent1,
.frame-wrapper18,
.frame-wrapper19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent1 {
  width: 17.156rem;
  flex: 1;
  flex-direction: row;
  gap: 1.138rem;
}
.frame-wrapper18 {
  align-self: stretch;
  width: 16.231rem;
  flex-direction: column;
  padding: 0.181rem 0 0;
  box-sizing: border-box;
}
.image-5-icon {
  height: 1.281rem;
  width: 1.375rem;
  position: relative;
  object-fit: cover;
  z-index: 3;
  left: 3rem;
}
.rectangle-parent5 {
  align-self: stretch;
  flex: 1;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-5xl-5) 1.369rem 1.956rem;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.div43 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frame-parent12,
.sequence-manager {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sequence-manager {
  flex-direction: row;
  padding: 0 var(--padding-12xl) 0 1.956rem;
  color: var(--color-black);
}
.frame-parent12 {
  height: 8.55rem;
  flex-direction: column;
  gap: var(--gap-smi-5);
  max-width: 100%;
}
.blank-line,
.p2,
.p3 {
  margin: 0;
}
.div44 {
  height: 11.063rem;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.container1,
.frame-parent11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container1 {
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  color: var(--color-black);
}
.frame-parent11 {
  flex-direction: column;
  gap: 1.887rem;
  max-width: 100%;
}
.child16,
.child17 {
  height: 1.588rem;
  width: 7.9rem;
  position: relative;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
  display: none;
}
.div45 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-4xs-7);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.button3,
.comparator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0.387rem var(--padding-8xl-5) 0.512rem;
  background-color: var(--color-midnightblue-100);
  flex: 1;
  border-radius: 12.48px;
  z-index: 1;
}
.comparator {
  width: 10.275rem;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}
.frame-child11,
.rectangle-parent4 {
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
}
.rectangle-parent4 {
    flex: 1;
    border-radius: 18.75px;
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 1.319rem;
    box-sizing: border-box;
    gap: var(--gap-smi-5);

 }
.frame-child11 {
  align-self: stretch;
  height: 25.781rem;
  position: relative;
  display: none;
}
.frame-child12 {
  height: 6.644rem;
  width: 21.094rem;
  position: relative;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  display: none;
  max-width: 100%;
}
.frame-child13 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  z-index: 2;
}
.ellipse-frame {
  height: 4.213rem;
  width: 3.906rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.306rem 0 0;
  box-sizing: border-box;
}
.telegram1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
}
.link-collector {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.image-7-icon {
  height: 1.281rem;
  width: 1.375rem;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 3;
}
.number-cruncher {
  align-self: stretch;
  height: 1.625rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nekatyzina {
  width: 12.113rem;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  z-index: 2;
}
.number-cruncher-parent,
.rectangle-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.number-cruncher-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xs);
  min-width: 8.188rem;
}
.rectangle-parent7 {
  align-self: stretch;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-4xl-5) 1.369rem 1.956rem;
  box-sizing: border-box;
  gap: 1.138rem;
  max-width: 100%;
  z-index: 1;
}
.div46 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frame-parent14,
.wrapper1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper1 {
  flex-direction: row;
  padding: 0 var(--padding-12xl) 0 1.956rem;
  color: var(--color-black);
}
.frame-parent14 {
  flex-direction: column;
  gap: var(--gap-smi-5);
  max-width: 100%;
}
.blank-line1,
.blank-line2,
.p4,
.p5 {
  margin: 0;
}
.div47 {
  height: 11.063rem;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.frame-parent13,
.wrapper2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper2 {
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  color: var(--color-black);
}
.frame-parent13 {
  flex-direction: column;
  gap: 1.887rem;
  max-width: 100%;
}
.child18,
.child19 {
  height: 1.588rem;
  width: 7.9rem;
  position: relative;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
  display: none;
}
.div48 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-4xs-7);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.button4,
.wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 0.387rem var(--padding-8xl-5) 0.512rem;
  background-color: var(--color-midnightblue-100);
  flex: 1;
  border-radius: 12.48px;
  z-index: 1;
}
.wrapper3 {
  width: 10.275rem;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}
.frame-child14,
.rectangle-parent6 {
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
}
.rectangle-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 1.319rem;
  box-sizing: border-box;
  gap: var(--gap-3xl);
  min-width: 15.813rem;
  max-width: 100%;
}
.frame-child14 {
  align-self: stretch;
  height: 25.781rem;
  position: relative;
  display: none;
}
.frame-child15 {
  height: 6.644rem;
  width: 21.094rem;
  position: relative;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  display: none;
  max-width: 100%;
}
.frame-child16 {
  width: 3.906rem;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
}
.frame-child16,
.nastya,
.telegram2 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.telegram2 {
  font-weight: 500;
}
.nastya {
  font-size: var(--font-size-xl);
}
.telegram-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-wrapper21 {
  flex: 1;
  flex-direction: column;
  padding: 0.194rem 0 0;
}
.ellipse-parent2,
.frame-wrapper20,
.frame-wrapper21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent2 {
  width: 17.156rem;
  flex: 1;
  flex-direction: row;
  gap: 1.138rem;
}
.frame-wrapper20 {
  align-self: stretch;
  flex-direction: column;
  padding: 0.306rem 0 0;
}
.image-6-icon {
  height: 1.281rem;
  width: 1.375rem;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.rectangle-parent9 {
  align-self: stretch;
  flex: 1;
  border-radius: 18.75px 18.75px 0 0;
  background-color: var(--color-midnightblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mid-5) 1.369rem 1.956rem;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.div49 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.frame-parent16,
.wrapper4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper4 {
  flex-direction: row;
  padding: 0 var(--padding-12xl) 0 1.956rem;
  color: var(--color-black);
}
.frame-parent16 {
  height: 8.55rem;
  flex-direction: column;
  gap: var(--gap-smi-5);
  max-width: 100%;
}
.blank-line3,
.p6,
.p7 {
  margin: 0;
}
.div50 {
  height: 11.063rem;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.frame-parent15,
.wrapper5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper5 {
  flex-direction: row;
  padding: 0 var(--padding-12xl);
  color: var(--color-black);
}
.frame-parent15 {
  flex-direction: column;
  gap: 1.887rem;
  max-width: 100%;
}
.child20,
.child21 {
  height: 1.588rem;
  width: 7.9rem;
  position: relative;
  border-radius: 12.48px;
  background-color: var(--color-midnightblue-100);
  display: none;
}
.div51 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-4xs-7);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.button5,
.wrapper6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 0.387rem var(--padding-8xl-5) 0.512rem;
  background-color: var(--color-midnightblue-100);
  flex: 1;
  border-radius: 12.48px;
  z-index: 1;
}
.wrapper6 {
  width: 10.275rem;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}
.frame-parent10,
.rectangle-parent8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent8 {
  flex: 1;
  border-radius: 18.75px;
  background-color: var(--color-gainsboro);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 1.319rem;
  box-sizing: border-box;
  gap: var(--gap-3xl);
  min-width: 15.813rem;
}
.frame-parent10 {
 margin: 0rem 2.8rem 2.7rem -20rem;
    width: calc(100% - 6.6rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 2rem;
    row-gap: 2rem;
}
.frame-parent9 {
  flex: 1;
  flex-direction: column;
  gap: 1.563rem;
}
.frame-parent7,
.frame-parent9,
.frame-wrapper17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper17 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-4xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue-200);
}
.frame-parent7 {
  position: absolute;
  top: 30.875rem;
  left: 0.563rem;
  width: 100%;
  flex-direction: column;
  gap: 2.031rem;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-section {
  min-height: 90rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-midnightblue-200);
  font-family: var(--font-montserrat);
}
.profile-stud-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4.125rem var(--padding-3xs-5);
  box-sizing: border-box;
  max-width: 100%;
}
.div52 {
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
  min-width: 5.375rem;
  top: -1.3rem;
  color: black !important;
}
.input-processor {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1.75rem;
}
.div54 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 4.875rem;
  z-index: 1;
}
.connector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.994rem 0 0;
}
.div55,
.div56,
.pochtamailru3 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.div56,
.pochtamailru3 {
  text-decoration: underline;
  font-weight: 500;
  white-space: nowrap;
}
.div56 {
  line-height: 0.9rem;
}
.pochtamailru3 {
  display: inline-block;
  min-width: 5.75rem;
}
.property-handler {
  gap: var(--gap-7xs);
  font-size: var(--font-size-xs-3);
}
.logic-operator,
.property-handler,
.signal-processor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.signal-processor {
  gap: 1.506rem;
}
.logic-operator {
  padding: 0.431rem 0 0;
}
.div57,
.div58,
.pochtamailru4 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.div58,
.pochtamailru4 {
  text-decoration: underline;
  font-weight: 500;
  display: inline-block;
  min-width: 6.688rem;
}
.pochtamailru4 {
  min-width: 5.75rem;
  white-space: nowrap;
}
.parent12 {
  gap: var(--gap-7xs);
  font-size: var(--font-size-xs-3);
}
.logic-operator1,
.parent11,
.parent12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent11 {
  gap: 1.506rem;
}
.logic-operator1 {
  padding: 0.431rem 0 0;
}
.div59,
.div60 {
  position: relative;
  z-index: 1;
}
.div59 {
  font-weight: 600;
  display: inline-block;
  min-width: 3rem;
}
.div60 {
  align-self: stretch;
  text-decoration: underline;
  font-weight: 500;
}
.p8,
.p9 {
  margin: 0;
}
.div61 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.function-library {
  align-self: stretch;
  gap: 0.356rem;
  font-size: var(--font-size-xs-3);
}
.array-processor,
.array-processor-wrapper,
.function-library {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.array-processor {
  align-self: stretch;
  gap: 1.506rem;
}
.array-processor-wrapper {
  width: 7.819rem;
  padding: 0.431rem 0 0;
  box-sizing: border-box;
}
.login-item {
  height: 2.388rem;
  width: 11.888rem;
  position: relative;
  border-radius: 18.77px;
  background-color: var(--color-midnightblue-100);
  border: 0.6px solid var(--color-whitesmoke);
  box-sizing: border-box;
  display: none;
}
.div62 a {
left: 1rem;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm-1);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
  text-decoration: none;
  color: white !important;
}
.decision-maker,
.logic-operator-parent,
.login1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.login1 {
  cursor: pointer;
  border: 0.6px solid var(--color-whitesmoke);
  padding: 0.587rem 2.575rem 0.8rem;
  background-color: var(--color-midnightblue-100);
  width: 11.888rem;
  border-radius: 18.77px;
  box-sizing: border-box;
  justify-content: flex-start;
  z-index: 1;
}
.login1:hover {
  background-color: #3b57ba;
  border: 0.6px solid #d1d1d1;
  box-sizing: border-box;
}
.decision-maker,
.logic-operator-parent {
  max-width: 100%;
}
.logic-operator-parent {
  justify-content: flex-start;
  gap: 4.181rem;
  font-size: var(--font-size-sm-1);
}
.decision-maker {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.div63 a  {
top: -1rem;
left: 3rem;
  width: 16.688rem;
  position: relative;
  text-decoration: underline;
  line-height: 0.9rem;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
   color: white !important;
}
.wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2.5rem 0 2.563rem;
}
.div64 a {
top: -1.5rem;
left: 1.5rem;
  position: relative;
  text-decoration: underline;
  line-height: 0.9rem;
  font-weight: 500;
  z-index: 1;
    color: white !important;
}
.frame-parent18 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.106rem;
}
.div65 {
top: -2rem;
left: 3rem;
  width: 16.063rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2.831rem 0 2.875rem;
  font-size: var(--font-size-3xs);
  color: var(--color-gray);
}
.frame-parent17,
.inner1 {
  display: flex;
  max-width: 100%;
}
.frame-parent17 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.544rem;
}
.inner1 {
  width: 64.213rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xs-3);
}
.frame-child17 {
  position: absolute;
  top: 0;
  left: -0.062rem;
  background-color: var(--color-midnightblue-200);
  width: 95.063rem;
  height: 19.438rem;
}
.vector-icon17 {
  position: absolute;
  top: 3.006rem;
  left: 3.144rem;
  width: 0.788rem;
  height: 0.788rem;
  z-index: 2;
}
.vector-icon18 {
  top: 0;
  left: 0;
  z-index: 1;
}
.vector-icon18,
.vector-icon19,
.vector-parent4 {
  position: absolute;
  width: 1.638rem;
  height: 3.275rem;
}
.vector-icon19 {
  top: 0;
  left: 0;
  z-index: 5;
}
.vector-parent4 {
  top: 1.763rem;
  left: 1.894rem;
}
.vector-icon20 {
  top: 0;
  left: 0;
  z-index: 3;
}
.vector-icon20,
.vector-icon21,
.vector-parent5 {
  position: absolute;
  width: 1.225rem;
  height: 2.444rem;
}
.vector-icon21 {
  top: 0;
  left: 0;
  z-index: 7;
}
.vector-parent5 {
  top: 2.175rem;
  left: 3.538rem;
}
.branching-logic-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.619rem;
  height: 1.619rem;
  z-index: 4;
}
.input-processor-icon {
  position: absolute;
  top: 0.413rem;
  left: 0.419rem;
  width: 0.788rem;
  height: 0.788rem;
  z-index: 6;
}
.branching-logic-icon1,
.data-aggregator {
  position: absolute;
  width: 1.619rem;
  height: 1.619rem;
}
.branching-logic-icon1 {
  top: 0;
  left: 0;
  z-index: 8;
}
.data-aggregator {
  top: 2.594rem;
  left: 2.725rem;
}
.output-generator-icon {
  position: absolute;
  top: 2.5rem;
  left: 5.369rem;
  width: 4.769rem;
  height: 0.913rem;
  z-index: 1;
}
.vk-1-icon1,
.vk-2-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.938rem;
  height: 0.975rem;
  overflow: hidden;
}
.vk-2-icon1 {
  z-index: 2;
}
.ok-1-icon1,
.telegram-1-icon1,
.vk-1-group,
.youtube-1-icon1 {
  position: absolute;
  top: 7.313rem;
  left: 38rem;
  width: 0.938rem;
  height: 0.975rem;
}
.ok-1-icon1,
.telegram-1-icon1,
.youtube-1-icon1 {
  left: 40rem;
  overflow: hidden;
  z-index: 1;
}
.telegram-1-icon1,
.youtube-1-icon1 {
  left: 42rem;
}
.youtube-1-icon1 {
  left: 44rem;
}
.rectangle-parent10 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
}
.div53,
.profile-stud {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div53 {
  margin-left: -0.062rem;
  align-self: stretch;
  background-color: var(--color-white);
  padding: 1.756rem var(--padding-12xl) 2.131rem 5.431rem;
  box-sizing: border-box;
  gap: 2.669rem;
  max-width: 100%;
  z-index: 9;
  font-size: var(--font-size-5xs-5);
  color: var(--color-white);
}
.profile-stud {
  width: 100%;
  background-color: var(--color-whitesmoke);
  gap: 3.25rem;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-midnightblue-200);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1100px) {
  .decision-maker {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .frame-parent4 {
    flex: 1;
  }
  .h1 {
    font-size: 2.125rem;
  }
  .error-handler,
  .h11,
  .h12,
  .pochtamailru2 {
    font-size: var(--font-size-7xl);
  }
  .parent1 {
    flex: 1;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .frame-section {
    height: auto;
    min-height: 1451.5;
  }
  .logic-operator-parent {
    flex-wrap: wrap;
    gap: 4.181rem 2.063rem;
  }
}
@media screen and (max-width: 750px) {
  .output-splitter-inner {
    display: none;
  }
  .data-processor,
  .output-aggregator {
    flex-wrap: wrap;
  }
  .frame-parent5,
  .frame-wrapper2 {
    min-width: 100%;
  }
  .frame-parent7 {
    gap: 1rem 2.031rem;
  }
  .profile-stud-inner {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .div53 {
    gap: 1.313rem 2.669rem;
    padding-left: 2.688rem;
    box-sizing: border-box;
  }
  .profile-stud {
    gap: 1.625rem 3.25rem;
  }
}
@media screen and (max-width: 450px) {
  .parent {
    gap: 1.956rem 1rem;
  }
  .h2,
  .h21 {
    font-size: var(--font-size-lgi);
  }
  .h1 {
    font-size: var(--font-size-7xl);
  }
  .error-handler,
  .h11,
  .h12,
  .h22,
  .h23,
  .hr,
  .pochtamailru2 {
    font-size: var(--font-size-lgi);
  }
  .b {
    font-size: var(--font-size-base);
  }
  .parent4 {
    flex-wrap: wrap;
  }
  .b1 {
    font-size: var(--font-size-base);
  }
  .parent7 {
    flex-wrap: wrap;
  }
  .b2 {
    font-size: var(--font-size-base);
  }
  .parent10 {
    flex-wrap: wrap;
  }
  .load-pic2 {
    padding-right: var(--padding-xl);
  }
  .load-pic-container,
  .load-pic2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .h24 {
    font-size: var(--font-size-lgi);
  }
  .katyzina {
    font-size: var(--font-size-base);
  }
  .frame-parent11 {
    gap: 0.938rem 1.888rem;
  }
  .nekatyzina {
    font-size: var(--font-size-base);
  }
  .rectangle-parent7 {
    flex-wrap: wrap;
  }
  .frame-parent13 {
    gap: 0.938rem 1.888rem;
  }
  .nastya {
    font-size: var(--font-size-base);
  }
  .frame-parent15 {
    gap: 0.938rem 1.888rem;
  }
  .div52 {
    font-size: var(--font-size-base);
  }
  .logic-operator-parent {
    gap: 4.181rem 1.063rem;
  }
  .wrapper8 {
    padding-right: var(--padding-xl);
  }
  .div53,
  .wrapper8 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}



.image_vacation{
  width: 3rem;
  height: 3rem;
  border-radius: 2.5021rem;
  flex-shrink: 0;
}
